/* Generale */
@font-face {
    font-family: aileron;
    src: url("fonts/aileron/Aileron-Regular.otf") !important;
}

html {
    font-size: 1.2rem;
}



a {
    text-decoration: none !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited{
    background-color: #108F96 !important;
    font-weight: bold;
    border-radius: 100px !important; /*verificĂ aici*/
}

.btn-primary:hover {
    background-color: #0e686d !important;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited{
    background-color: #F6F7F8 !important;
    border: none;
    color: black !important;
    border-radius: 100px !important; /*verificĂ aici*/
}

.btn-secondary:hover {
    background-color: #e4e4e4 !important;
    color: black !important;
    border: none;
}

.dropdown-menu {
    text-align: center !important;
}

.dropdown-item {
    text-align: left !important;
}

footer {
    color: white;
    
}

footer li{
    list-style-type: none !important;
}


/** În pagină **/

/*********** Scrollbar ***********/
  

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 0.4rem;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: linear-gradient(to top, #ffffff 0%, #ffffff 50%);
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #47868E;
    background-image: linear-gradient(to top, #47868E 0%, #47868E 100%);
}


/* Navigația */
.nav-link {
    font-size: 1.2rem !important;
}

.navbar-brand img {
    width: 100%;
    height: 6vh;
}

.auth-img {
    width: 80%;
    height: 100%;
}

.auth-show-name {
    display: none !important;
}

#auth-link {
    /* text-decoration: none; */
    color: black;
}

/* Subsolul */
#footer-brand {
    width: 100%;
}

.media-header {
    font-size: 1rem;
    color: white;
}

.social-link {
    width: 10%;
    height: auto;
}

.social-img {
    width: 2vh;
    height: 4vh;
}

.social-img:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#footer-menu {
    text-align: center !important;
}

.utility-links {
    text-align: center !important;
}

#utility-after {
    display: none !important;
}

#utility-wide {
    display: none !important;
}

.footer-links {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
}



/* Conținut Pagina principală*/
.upper-text {
    background-color: #108F96;
    color: white;
}

.wide-text {
    margin-top: 4vh;
    color: white;
}

.cover{
    background-color: rgba(0, 0, 0, 0.281);
}

.banner {
    width: 100%;
    height: 60vh;
    background-image: url("img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 150% 150%;
    background-position-y: 50%;
    background-position-x: 50%;
}

.form-container {
    margin-top: 16vh;
    width: 80vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 30px; 
}


/* .form-container div button{
    width: 80% !important;
} */

/* .down-scroll {

} */


.card-img-top {
    width: 100%;
    height: 50%;
}

.arrow {
    width: 8%;
    /* margin-top: 1.5%; */
    margin-left: 10%;
    
}

.arrow-invert {
    width: 6%;
    margin-left: 10%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* Înregistrare și Autentificare */

.img-hide {
    display: none;
}

.register-title {
    font-weight: bold !important;
}

.register-subtitle {
    font-size: 0.5em !important;
}

.form-control, .form-control:active, .form-control:focus, .form-control:focus:active {
    background-color: #108F96;
    /* border-color: #108F96; */
    border-radius: 30px;
    color: white;
}

.form-text {
    font-size: 0.6rem;
    color: red;
}

.register-buton button{
    border-radius: 100px !important; /*verificĂ aici*/
}

.auth-text {

}

.auth-text {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.auth-text::before, .auth-text::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}


::placeholder {
    color: white !important;
    opacity: 1 !important;
  }
  
:-ms-input-placeholder {
   color: white !important;
  }
  
::-ms-input-placeholder {
   color: white !important;
  }

/* Despre kineto și masaj */

.servicii-title {
    color: #108F96;
    font-weight: bold;
    border-bottom: 3px solid #108F96;
    line-height: 180%;
    padding-right: 10%;
}

.servicii-imagine img {
    width: 70%;
    height: 35vh;
    border-radius: 147% 106% 97% 106%;
}

.servicii-header {
    font-weight: bold;
}

.servicii-subheader {
    font-weight: bold;
    color: #108F96;
}

.servicii-button button {
    border-radius: 50px;
}

.servicii-button button a{
    color: white;
    /* text-decoration: none; */
}


/* About Us */

.aboutus-img {
    width: 60%;
    border-radius: 50px;
}


/* Contact */

.contact-title {
    border-bottom: 3px solid #108F96;
    padding-bottom: 5%;
}

.contact-buton {
    border-top: 3px solid #108F96;
    padding-top: 5%;
}

.contact {
    background-image: url("img/contact.jpg");
}



/* Căutare */

#lista-container, #informatii{
    background-color: #DEE4E8;
}



/* #informatii {
    display: none !important;
} */

#lista {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 50vh;
}


#lista::-webkit-scrollbar {
    width: 0.5rem;
}

#lista::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #B7B7B7;
}

/* scrollbar track */
#lista::-webkit-scrollbar-track {
    background: white;
}


#search-box input{
    font-size: .8rem;
}

#search-icon {
    height: 20px;
    width: 20px;
}

.terapeut-box {
    border-bottom: 2px solid white;
}

.terapeut-box:hover {
    background-color: #d2d8db;
}


.terap-box-pic {

    width: 20vw;
    height: 7vh;
}

.terap-box-pic img {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}

.text-truncate {
    font-size: 0.7rem;
    max-width: 80%;
}


.text-truncate span::after {
    content: "...";
}

.dot{
    height: 10px;
    width: 10px;
    
    border-radius: 50%;
    display: inline-block;
}

.on {
    background-color: rgb(60, 180, 24);
}

.off {
    background-color: rgb(180, 24, 24);
}

#close {
    cursor: pointer;
    font-size: 1rem;
    height: 30px !important;
    display: block !important;
    float: right !important;
    position: relative !important;
    left: 88% !important;
    top: 0% !important;
    width: 1.33% !important;
}

#nume h3{
    font-size: 1.2rem;
}

#locatii {
    
}

.info-titles {
    font-size: 1rem;
    padding-left: 5%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    border-radius: 50px;
    background-color: #1F5065;
    color: white;
}

#locatii span {
    font-size: 0.8rem;
}

.msg-button {
    font-size: 0.8rem;
    color: black;
}

#search-recenzii {
    height: 50vh;
}


#search-recenzii::-webkit-scrollbar {
    width: 0.5rem;
}

#search-recenzii::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #B7B7B7;
}

/* scrollbar track */
#search-recenzii::-webkit-scrollbar-track {
    background: white;
}


th {
    text-align: center;
}

td {
    border-top: 4px solid #ffffff;
    padding: 4%;
    font-size: 0.8rem;
}

.search-terap-table td {
    text-align: center;
}

.search-time::after {
    content: " min";
}

.search-price::after {
    content: " RON";
}


/* Breakpoints */
@media only screen and (max-width:360px){
    .navbar-brand img {
        height: 5vh;
        margin-left: 10%;
    }

    .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }

    #auth-img {
        width: 60%;
    }
}


@media all and (orientation: landscape) and (hover: none) and (pointer: coarse) {

    .navbar-brand img {
        height: 10vh;
    }

    .upper-text h1{
        font-size: 150%;
    }

    .banner {
        height: 100vh;
    }

    .form-container {
        margin-top: 25vh;
        width: 80vh;
        border-radius: 30px; 
    }

    /* .form-container div button{
        width: 80% !important;
    } */

    .img-hide {
        width: 15vw !important;
    }

    .servicii-imagine img{
        width: 50%;
        height: 60vh;
    }

    #footer-brand {
        width: 70%;
    }

    .media-header {
        font-size: 1.2rem;
    }

    .social-img {
        width: 5vh;
        height: 9vh;
    }

    .utility-links ul li{
        display: inline !important;
        padding: 1vw!important
    }

    #utility-before {
        display: none !important;
    }

    #utility-after {
        display: flex !important;
    }

    #aboutus-first {
        border-right: 3px solid #108F96;
    }


    #lista {
        height: 80vh;
    }

    #lista-container {
        margin: 2% !important;
        width: 83.33333333% !important;
    }

    .terap-box-pic {
        width: 15vw;
        height: 20vh;
    }
     
}

@media only screen and (orientation: landscape) and (hover: none) and (pointer: coarse) and (min-height: 790px){
    .terap-box-pic {
        width: 11vw;
        height: 12vh;
    }
}


@media only screen and (orientation: portrait) and (hover: none) and (pointer: coarse) and (min-height: 790px){
    #utility-before {
        display: none !important;
    }

    #utility-after {
        display: flex !important;
    }

    .utility-links ul li{
        display: inline !important;
        padding: 1vw!important
    }

    #lista-container, #informatii {
        width: 91.66666667% !important;
    }

    .terap-box-pic {
        width: 16vw !important;
        height: 9vh !important;
    }

}

@media only screen and (min-width: 790px){

    
    .navbar-brand img {
        width: 100%;
    }

    .auth-show-name {
        display: flex !important;
        font-size: 0.85em;
    }

    .upper-text h1{
        visibility: hidden;
    }
    
    .upper-text {
        height: 2vh;
        background-color: #cfcfcf;
        color:#cfcfcf;
    }

    .banner {
        height: 70vh;
        background-image: url("img/banner-w.jpg");
        background-repeat: no-repeat;
        background-size: 120% 180%;
        background-position-y: 90%;
        background-position-x: 50%;
    }

    .wide-text {
        margin-top: 20vh;
    }

    .form-container {
        margin-top: 30vh;
        width: 90vw;
    }

    .form-container .dropdown select {
        width: 80% !important;
    }

    .searchButtonIndex {
        width: 80% !important;
    }

    .social-link {
        width: 10%;
        height: auto;
    }

    .findout-text {
        margin-top: -1% !important;
    }

    .down-scroll {
        margin-top: 1% !important;
    }

    .down-scroll img{
        width: 4%;
        height: 100%;
    }

    .pacient {
        background-image: url("img/pacienti-register.jpg");
    }

    .terapeut {
        background-image: url("img/terapeuti-register.jpg")
    }

    .img-hide {
        display: block;
        width: 28vw;
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px 150px 0px 0px;
    }

    #brand-socialmedia {
        align-items: left !important;
    }

    #footer-brand {
        width: 60%;
    }

    #utility-before {
        display: none !important;
    }

    #utility-after {
        display: none !important;
    }

    #utility-wide{
        display: flex !important;
    }

    #footer-button {
        width: 50% !important;
    }

    #aboutus-first {
        border-right: 3px solid #108F96;
    }
    
    .terap-box-pic {
        width: 11vw;
        height: 12vh;
    }

    #lista::-webkit-scrollbar {
        width: 1rem;
    }
}

@media only screen and (min-width:790px) and (hover: hover) and (pointer: fine) {

    #lista-container {
        border-right: 10px solid white !important;
        border-radius: 80px 0px 0px 80px !important;
    }

    .terap-box-pic {
        width: 5vw;
        height: 6vh;
    }

    #informatii-header {
        margin-top: -3% !important;
    }

    #close {
    font-size: 1.4rem;
    left: 94% !important;
    }

    .info-pic{

    }

    #informatii {
        border-radius: 0px 80px 80px 0px !important;
    }

    #search-telefon::before {
        content: "Telefon: ";
    }

    #search-email::before {
        content: "Email: ";
    }

    #search-recenzii {
        height: 25vh;
    }
    

}

@media only screen and (max-width: 1300px){
    .terap-box-pic {
        width: 8vw;
        height: 8vh;
    }
}

@media only screen and (min-width: 1200px){
    .img-hide {
        width: 20vw;
    }
}

@media only screen and (min-width: 1600px){
    .img-hide {
        width: 15vw;
    }
}