$black: #212427;
$dark-gray: #8f8f8f;
$white: white;
$red: red;
$deny: #f44336;
$gold: gold;
$silver: silver;
$bronze: #cd7f32;
$green: green;

$link-hover: #0b6368;

$primary-color: rgb(16, 145, 152);
$secondary-color: #f3f4f4;
$tertiary-color: #1f5065;

// $input-color: #9dd0d3;
$input-color: #f1f1f1;
$border-color: #ddd;
