$black: black;
$dark-gray: #8f8f8f;
$white: white;
$red: red;
$deny: #f44336;
$gold: gold;
$silver: silver;
$bronze:  #cd7f32;
$green: green;

$link-hover: #0b6368;

$primary-color: #108F96;
$secondary-color: #F3F4F4;
$tertiary-color: #1F5065;

$input-color: #9DD0D3;
$border-color: #ddd;