$black: black;
$dark-gray: #8f8f8f;
$white: white;
$red: red;
$gold: gold;
$silver: silver;
$bronze:  #cd7f32;
$green: green;


$primary-color: #108F96;
$secondary-color: #F3F4F4;
$tertiary-color: #1F5065;

$input-color: #9DD0D3;