/* =============
    Variables
   =============
*/

$border-radius: 3rem;
$input-btn-focus-width: .2rem !default;

$image-width: 100%;
$image-height: 100%;

$font-size: 1rem;

$min-vw: 300px;
$max-vw: 2200px;
$min-font-size: 0.4rem;
$max-font-size: 2rem;
