@use '../abstracts/' as *;

@font-face {
    font-family: "Aileron";
    src: url('fonts/aileron/Aileron-Regular.otf') format('otf');
}


$fw-lighter: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 600;
$fw-bolder: 700;

$fs-200: 0.8125rem;
$fs-300: 0.875rem;
$fs-400: 0.9375rem;
$fs-500: 1rem;
$fs-600: 1.875rem;
$fs-700: 2.5rem;
$fs-800: 3.5rem;


// h1 {
//     @include font (xl);
// }

// h2 {
//     @include font (lg);
// }

// h3 {
//     @include font (md);
// }

// h4 {
//     @include font (sm);
// }

// p {
//     @include font (xs);
// }
