body {
    height: 100%;
}


#banner {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 0px;
    margin-top: -150px;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    background-size: cover;
    background-color:  linear-gradient(rgba(100, 100, 100, 0.452), rgba(255, 255, 255, 0));
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



/*** footer starts ***/

.footer {
    flex-shrink: 0;
    box-shadow: 0px -2px 10px 0px #888888;
}

#footer_container{
    background-color: rgb(41, 40, 150);
}

.med {border-radius: 50%;}

.med .imed:hover{
color: black;
}

.copyright {background-color: rgb(0, 0, 0);}


.ts-title {
    font: #111;
}

.search-container {
    background-color: #454E53;
    border-radius: 30px;
}

.search{
    display: flex;
    justify-content: center;
    height: 40px;
}

.search input {
    margin-left: 20px;
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
}

.search input:focus {
    outline: none;
}

.search i {
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.5rem;
}

.search i:hover {
    color: white;
}

.ts-scroll {
    overflow-y: scroll;
}

.ts-scroll::-webkit-scrollbar {
    width: 12px;
}

.ts-scroll::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 30px;
}

.ts-list-container {
    height: 500px;
    padding: 10px;
    background-color: white;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    border: 1px solid #1111;
}

.ts-list {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    overflow-y: scroll;
}

.ts-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #979797;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.ts-container-background {
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}

.ts-container-background:hover {
    background-color: #CCCCCC;
}

.ts-info-container {
    flex-grow: 1;
}

.ts-pic {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ts-details {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}


.t-container {
    border: 1px solid #111;
    border-radius: 20px;
}


.picture {
    font-size: 100px;
    padding-top: -50px;
}

.t-about {
    margin-top: -100px;
}

.hide {
    display: none;
}

.t-data {
    margin-top: -100px;
}

.email-container button {
    padding: 10px;
    margin-top: 10px;
}
