/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body, html {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Aileron";
  src: url("fonts/aileron/Aileron-Regular.otf") format("otf");
}
@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
@-webkit-keyframes link-hover {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes link-hover {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}
/* =============
    Breakpoints
   =============
*/
/* =============
    Animations
   =============
*/
/* =============
    Others
   =============
*/
html {
  font-size: 1rem;
}

body {
  font-family: "Aileron", sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: #0b6368 !important;
}

li {
  list-style-type: none !important;
}

main {
  padding-bottom: 2.5rem; /* Footer height */
}

footer {
  bottom: 0;
  width: 100%;
  color: white;
}

::-moz-placeholder {
  color: white !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: white !important;
  opacity: 1 !important;
}

::placeholder {
  color: white !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: white !important;
}

::-ms-input-placeholder {
  color: white !important;
}

/* =============
    ScrollBar
   =============
*/
/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 0.4rem;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: linear-gradient(to top, #ffffff 0%, #ffffff 50%);
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #47868E;
  background-image: linear-gradient(to top, #47868E 0%, #47868E 100%);
}

.title-underline {
  width: 75%;
  margin-left: 12.5% !important;
  margin: 4%;
  border: 2px solid #108F96;
  opacity: 1;
  border-radius: 50px;
}

.form-check-input {
  box-shadow: none !important;
}
.form-check-input:hover, .form-check-input:focus {
  border-color: #108F96;
}
.form-check-input:checked {
  background-color: #108F96;
}

.form-control, .form-control:active, .form-control:focus, .form-control:focus:active {
  background-color: #9DD0D3;
  border-radius: 50px;
  color: white;
  box-shadow: none !important;
}
.form-control::-moz-placeholder, .form-control:active::-moz-placeholder, .form-control:focus::-moz-placeholder, .form-control:focus:active::-moz-placeholder {
  color: white;
}
.form-control:-ms-input-placeholder, .form-control:active:-ms-input-placeholder, .form-control:focus:-ms-input-placeholder, .form-control:focus:active:-ms-input-placeholder {
  color: white;
}
.form-control::placeholder, .form-control:active::placeholder, .form-control:focus::placeholder, .form-control:focus:active::placeholder {
  color: white;
}
.form-control:hover, .form-control:focus, .form-control:active:hover, .form-control:active:focus, .form-control:focus:hover, .form-control:focus:focus, .form-control:focus:active:hover, .form-control:focus:active:focus {
  border-color: #108F96;
}

.form-text {
  font-size: 0.6rem;
  color: red;
}

.img-hide {
  display: none;
}
@media (min-width: 48rem) {
  .img-hide {
    display: block;
    width: 20%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 25%;
    border-radius: 0px 150px 0px 0px;
  }
}
@media (min-width: 64rem) {
  .img-hide {
    width: 15%;
  }
}
@media (min-width: 75rem) {
  .img-hide {
    width: 12%;
  }
}

.btn {
  padding: 0.5rem !important;
}

.btn-primary {
  background-color: #108F96;
  border-radius: 50px;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #12a5ad;
}
.btn-primary:active {
  background-color: #0e797f !important;
}

.btn-secondary {
  background-color: #F3F4F4;
  border-radius: 50px;
  text-align: center;
  border: none;
  color: black !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #e6e8e8 !important;
}

.btn-success {
  background-color: #1F5065;
  border-radius: 50px;
  font-weight: bold;
}
.btn-success:hover, .btn-success:focus {
  background-color: #255f79;
}
.btn-success:active {
  background-color: #194151 !important;
}

/* Subsolul */
footer .bi {
  font-size: 1.5rem;
}

#footer-brand {
  width: 100%;
}
@media (min-width: 37.5rem) {
  #footer-brand {
    width: 60%;
  }
}

.social-header {
  font-size: 1rem;
  color: white;
}
@media (min-width: 37.5rem) {
  .social-header {
    font-size: 1.2rem;
  }
}
.social-link {
  width: 10%;
  height: auto;
}
.social-img {
  width: 3vw;
}
.social-img:hover {
  filter: invert(50%);
  -webkit-filter: invert(50%);
}
@media (min-width: 37.5rem) {
  .social-img {
    width: 2vw;
  }
}
@media (min-width: 64rem) {
  .social-img {
    width: 1vw;
  }
}

.footer-search {
  width: 50%;
}
@media (min-width: 37.5rem) {
  .footer-search img {
    width: 4%;
    margin-left: 4%;
  }
}
@media (min-width: 37.5rem) {
  .footer-search {
    width: 25%;
  }
}

.footer-utility {
  font-size: 0.8rem;
}

.footer-links {
  position: relative;
  color: white;
}
.footer-links::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #cccccc;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.footer-links:hover, .footer-links:focus {
  color: #cccccc !important;
}
.footer-links:hover::before {
  transform: scaleX(1);
}

.copyright {
  font-size: 0.8rem;
}
@media (min-width: 37.5rem) {
  .copyright-break-hide {
    display: none;
  }
}

nav {
  background-color: #fafafa !important;
}
nav .nav-link {
  font-size: 1.2rem;
}
@media (min-width: 56.25rem) {
  nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 64rem) {
  nav .nav-link {
    font-size: 1.4rem;
  }
}
nav .navbar-brand {
  width: 50%;
}
@media (min-width: 37.5rem) {
  nav .navbar-brand {
    width: 30%;
  }
}
@media (min-width: 56.25rem) {
  nav .navbar-brand {
    width: 30%;
  }
}
@media (min-width: 64rem) {
  nav .navbar-brand {
    width: 15%;
  }
}
nav .auth-profile {
  width: 50px;
  height: 50px;
  background-image: url("../../img/profiles/PozaH.jpeg");
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  float: left;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 64rem) {
  nav .auth-profile {
    width: 60px;
    height: 60px;
  }
}
nav img {
  width: 100%;
  height: 100%;
}

.upper-text {
  background-color: #108F96;
  color: white;
}
.upper-text h1 {
  font-size: 1.2rem;
}
@media (min-width: 37.5rem) {
  .upper-text h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 56.25rem) {
  .upper-text h1 {
    display: none !important;
  }
}

.banner {
  width: 100vw;
  height: 65vh;
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-size: 280% 110%;
  background-position-y: 100%;
  background-position-x: 30%;
}
@media (min-width: 37.5rem) {
  .banner {
    height: 90vh;
    background-size: 140% 120%;
    background-position-x: 55%;
  }
}
@media (min-width: 48rem) {
  .banner {
    height: 55vh;
  }
}
@media (min-width: 56.25rem) {
  .banner {
    height: 50vh;
    background-image: url("../img/banner-w.webp");
    background-size: 150% 170%;
    background-position-y: 95%;
  }
}
@media (min-width: 75rem) {
  .banner {
    height: 70vh;
    background-size: 100% 160%;
    background-position-y: 90%;
  }
}

.cover {
  background-color: rgba(0, 0, 0, 0.4);
}
.cover .wide-text {
  color: white;
}
.cover h1 {
  font-size: 1.2rem;
  padding-top: 2rem;
}
@media (min-width: 37.5rem) {
  .cover h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 56.25rem) {
  .cover h1 {
    font-size: 1.8rem;
  }
}
.cover form {
  margin-bottom: 15vh;
}

.form-container {
  width: 75vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 30px;
}
.form-container select, .form-container button {
  width: 60% !important;
}
@media (min-width: 48rem) {
  .form-container select, .form-container button {
    width: 85% !important;
  }
}
@media (min-width: 37.5rem) {
  .form-container {
    width: 80vw;
  }
}

/* .down-scroll {

} */
.down-scroll img {
  width: 15%;
}
@media (min-width: 64rem) {
  .down-scroll img {
    width: 5%;
  }
}

.slide-down {
  -webkit-animation: slide-bottom 1s ease-out infinite alternate forwards;
  animation: slide-bottom 1s ease-out infinite alternate forwards;
}

.card-img-top {
  width: 100%;
  height: 50%;
}

.arrow {
  width: 8%;
  margin-left: 10%;
}

.arrow-invert {
  width: 6%;
  margin-left: 10%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.content-howto h1 {
  font-size: 2rem;
}
.content-howto h3 {
  font-size: 0.8rem;
}
@media (min-width: 37.5rem) {
  .content-howto h3 {
    font-size: 1rem;
  }
}
.content-howto img {
  width: 80%;
}
@media (min-width: 37.5rem) {
  .content-howto img {
    width: 50%;
  }
}
@media (min-width: 48rem) {
  .content-howto img {
    width: 70%;
  }
}
@media (min-width: 64rem) {
  .content-howto img {
    width: 70%;
  }
}

.servicii-title {
  color: #108F96;
  font-weight: bold;
  border-bottom: 3px solid #108F96;
  line-height: 180%;
  padding-right: 10%;
}
.servicii h4 {
  font-weight: bold;
  color: #108F96;
}
.servicii img {
  width: 70%;
  height: 35vh;
  border-radius: 147% 106% 97% 106%;
}
@media (min-width: 37.5rem) {
  .servicii img {
    width: 50%;
    height: 60vh;
  }
}
@media (min-width: 48rem) {
  .servicii img {
    width: 100%;
    height: 30vh;
  }
}
@media (min-width: 64rem) {
  .servicii img {
    width: 100%;
    height: 45vh;
  }
}
@media (min-width: 75rem) {
  .servicii img {
    width: 70%;
    height: 35vh;
  }
}
.servicii a {
  color: white;
}

.about-us-found {
  width: 50vw;
}
@media (min-width: 37.5rem) {
  .about-us-found {
    width: 30vw;
  }
}
@media (min-width: 64rem) {
  .about-us-found {
    width: 20vw;
  }
}
@media (min-width: 75rem) {
  .about-us-found {
    width: 15vw;
  }
}
.about-us-found img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.about-us-found small {
  font-size: 0.8rem !important;
}

#about-us-first {
  margin-bottom: 5%;
}
@media (min-width: 37.5rem) {
  #about-us-first {
    border-right: 3px solid #108F96;
    margin-bottom: 0;
    margin-right: 2%;
  }
}

.auth-text {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
}

.auth-text::before, .auth-text::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.contact {
  background-image: url("../img/contact.webp");
}

.contact-form textarea {
  border-radius: 30px !important;
}

.list-container, .info-container {
  background-color: #d9d9d9;
  border-radius: 2rem;
  padding-bottom: 2rem !important;
  width: 90%;
}
.list-container img, .info-container img {
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .list-container, .info-container {
    margin: 0 !important;
  }
}

@media (min-width: 64rem) {
  .list-container {
    width: 25%;
  }
}

@media (min-width: 48rem) {
  .list-form .input-group {
    width: 100%;
    margin: 0;
    padding: 0 !important;
  }
}

@media (min-width: 64rem) {
  .info-container {
    width: 70%;
  }
}

.search-area {
  text-align: center;
  margin: 1rem 0 0 0;
  border-bottom: 0.5rem solid white;
}
@media (min-width: 37.5rem) {
  .search-area .register-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 48rem) {
  .search-area {
    font-size: calc(2.325rem + 0.9vw);
  }
}

.search-box input::-moz-placeholder {
  font-size: 0.8rem;
}

.search-box input:-ms-input-placeholder {
  font-size: 0.8rem;
}

.search-box input::placeholder {
  font-size: 0.8rem;
}
.search-box button {
  width: 2.5rem;
}
@media (min-width: 37.5rem) {
  .search-box .input-group {
    width: 75%;
    margin: auto;
  }
}
.search-box .dropdown {
  width: 45%;
}
.search-box .dropdown select {
  width: 100%;
}
@media (max-width: 37.5rem) {
  .search-box .dropdown {
    width: 100% !important;
  }
}

.list-area {
  height: 50rem;
  padding: 1rem 0;
  border-bottom: 4px solid white;
}
.list-area::-webkit-scrollbar {
  width: 0.5rem;
}
.list-area::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #1F5065;
}
.list-area::-webkit-scrollbar-track {
  background: white;
  border-radius: 1rem;
}
@media (min-width: 64rem) {
  .list-area {
    height: 50rem;
  }
}

.therapist-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-bottom: 0.2rem solid white;
  padding: 1rem;
}
.therapist-box-pic {
  width: calc(8rem + 0.5vw);
}
@media (min-width: 37.5rem) {
  .therapist-box-pic {
    width: calc(10rem + 0.5vw);
  }
}
.therapist-box-info, .therapist-box-info div {
  display: flex;
  justify-content: start;
  align-items: center;
}
.therapist-box-name {
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 37.5rem) {
  .therapist-box-name {
    font-size: 0.8rem;
  }
}
@media (min-width: 37.5rem) {
  .therapist-box-name {
    font-size: 0.8rem;
  }
}
@media (min-width: 48rem) {
  .therapist-box-name {
    font-size: 1.2rem;
  }
}
.therapist-box svg {
  width: 3rem;
  color: green;
}
@media (max-width: 37.5rem) {
  .therapist-box svg {
    width: 2rem;
  }
}
.therapist-box-locations, .therapist-box-therapies {
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  max-width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 37.5rem) {
  .therapist-box-locations, .therapist-box-therapies {
    font-size: 0.6rem;
  }
}
@media (min-width: 48rem) {
  .therapist-box-locations, .therapist-box-therapies {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
  }
}

.info-container {
  gap: 1rem;
  grid-template-areas: "one" "two" "three";
}
.info-container .info-header {
  grid-area: one;
}
.info-container .info-bio {
  grid-area: two;
}
.info-container .info-long {
  grid-area: three;
}
@media (min-width: 64rem) {
  .info-container {
    display: grid;
    grid-template-areas: "one one" "two three";
  }
}

.header-pn {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: flex-start;
  align-items: center;
}
.header-pn-pic {
  width: 6rem;
}
@media (min-width: 37.5rem) {
  .header-pn-pic {
    width: 8rem;
  }
}
.header-pn-name {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (min-width: 37.5rem) {
  .header-pn-name {
    font-size: 2rem;
  }
}
.header-pn svg {
  width: 5rem;
  color: green;
}
@media (max-width: 37.5rem) {
  .header-pn svg {
    width: 3rem;
  }
}

.header-locations {
  margin-bottom: 1rem;
}

.contact-button {
  width: 50%;
  margin: 0.5em 50%;
}
@media (max-width: 37.5rem) {
  .contact-button {
    font-size: 1rem !important;
  }
}

.contact-info {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 1rem 0 !important;
}
.contact-info .msg-button {
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .contact-info .msg-button {
    width: 48%;
    margin: auto;
  }
}
@media (min-width: 48rem) {
  .contact-info {
    width: 85%;
  }
  .contact-info #search-telefon::before {
    content: "Telefon: ";
  }
  .contact-info #search-email::before {
    content: "Email: ";
  }
}

.info-titles {
  font-size: 1.1rem;
  padding: 0.25rem 0;
  padding-left: 5%;
  border-radius: 50px;
  background-color: #1F5065;
  color: white;
}
@media (min-width: 37.5rem) {
  .info-titles {
    font-size: 1.5rem;
  }
}

.info-long-services .info-long-table {
  text-align: center;
  width: 75%;
  margin-left: 10%;
}

.info-long-table tr {
  border-bottom: 4px solid white;
}
.info-long-table tr:first-child {
  text-align: center;
  font-weight: bold;
}
.info-long-table td {
  border-bottom: 4px solid white;
  padding: 4%;
  font-size: 0.8rem;
}
.info-long-table td:nth-child(2), .info-long-table td:nth-child(3) {
  text-align: center;
}

.reviews-container {
  height: 15rem;
}
.reviews-container::-webkit-scrollbar {
  width: 0.5rem;
}
.reviews-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #B7B7B7;
}
.reviews-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 1rem;
}
@media (min-width: 64rem) {
  .reviews-container {
    height: 20rem;
  }
}

.pacient {
  background-image: url("../img/pacienti-register.webp");
}

.terapeut {
  background-image: url("../img/terapeuti-register.webp");
}

.register-title {
  font-weight: bold !important;
}

.register-subtitle {
  font-size: 0.8rem;
}

.register-form a {
  color: #108F96;
}

.auth-link img {
  width: 15%;
}

ul li {
  display: inline;
}

.table-panels {
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 48rem) {
  .table-panels {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 64rem) {
  .table-panels {
    grid-template-columns: repeat(5, 1fr);
  }
}

.panel-default {
  margin-right: -1rem !important;
  font-weight: 600;
}
.panel-default .panel-list li {
  justify-content: left !important;
}

.panel-inner {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left;
}
.panel-inner:hover, .panel-inner:focus, .panel-inner:active {
  box-shadow: 0 0 5px 1px #8f8f8f;
  position: relative;
}
.panel-inner:hover .panel-label, .panel-inner:focus .panel-label, .panel-inner:active .panel-label {
  border-radius: 10px 10px 0 0;
  color: black;
}
.panel-inner:hover .starter, .panel-inner:focus .starter, .panel-inner:active .starter {
  background-color: green;
}
.panel-inner:hover .bronze, .panel-inner:focus .bronze, .panel-inner:active .bronze {
  background-color: #cd7f32;
}
.panel-inner:hover .silver, .panel-inner:focus .silver, .panel-inner:active .silver {
  background-color: silver;
}
.panel-inner:hover .gold, .panel-inner:focus .gold, .panel-inner:active .gold {
  background-color: gold;
}

.panel-heading, .panel-footer {
  min-height: 8rem;
  margin-left: 0px;
  margin-right: 0px;
}

.panel-label {
  color: #8f8f8f;
  padding-top: 1rem;
  font-size: calc(2rem + 0.2vw);
}

.panel-figure {
  font-size: calc(1.2rem + 0.2vw);
}

.table-first-panel {
  display: none !important;
}
.table-first-panel ul li {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-radius: 0px !important;
}
@media (min-width: 64rem) {
  .table-first-panel {
    display: grid !important;
  }
}

.panel-list {
  border-radius: 0px;
}
.panel-list li {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
}

.first-list-item {
  border-top: 0px solid #ddd;
}

.last-list-item {
  border-bottom: 0px solid #ddd;
}

.list-group-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: left;
}
@media (min-width: 64rem) {
  .list-group-item {
    justify-content: center;
  }
}
.list-group-item .bi {
  padding-left: 1rem;
  margin-left: 5%;
}
.list-group-item .bi-check {
  color: #108F96;
}
.list-group-item .bi-x {
  color: red;
}
@media (min-width: 37.5rem) {
  .list-group-item .bi {
    margin-left: 25%;
  }
}
@media (min-width: 48rem) {
  .list-group-item .bi {
    margin-left: 0;
  }
}
@media (min-width: 64rem) {
  .list-group-item .bi {
    text-align: center;
  }
}

.feature-hide {
  display: inline !important;
  padding-right: 0.5rem;
}
@media (min-width: 64rem) {
  .feature-hide {
    display: none !important;
  }
}

.panel-foreword {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem;
}

.image-one {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.image-one img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.rounded {
  border-radius: 50% !important;
}

.image-two {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
}

.poza {
  width: 10vw;
}
.poza img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */