@use "../abstracts" as *;

.dash-container {
  .position-absolute {
    font-size: 0.6rem;
    padding: 0.15rem;
  }
}

.dash-nav {
  background-color: darken($white, 5%) !important;
  align-items: flex-start;
  width: 15% !important;

  .active {
    filter: hue-rotate(360deg) saturate(5) contrast(50%);
    -webkit-filter: hue-rotate(360deg) saturate(5) contrast(50%);
  }

  @include phone {
    width: 22% !important;
  }

  @include tablet-wide {
    width: 9% !important;
  }

  @include desktop {
    width: 6% !important;
  }
}

.collapsed-menu {
  height: 85vh;
}

.dash-content {
  height: 100vh;
}

.navbar-toggler {
  @include tablet {
    margin-bottom: 1rem !important;
  }
}

.container-fluid,
.offcanvas-body {
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 0.2rem;
  }

  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: linear-gradient(to top, #ffffff00 0%, #ffffff00 50%);
  }
}

.collapsedLinks {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  gap: 0.5rem;

  img {
    width: 100%;
    transition: transform 0.2s;

    &:hover,
    &:focus,
    &:active {
      filter: hue-rotate(360deg) saturate(5) contrast(50%);
      -webkit-filter: hue-rotate(360deg) saturate(5) contrast(50%);

      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);

      @include tablet {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }

  .nav-item {
    width: clamp(1.5rem, 10vw + 1rem, 2rem);
    margin-top: 0.5rem;

    @include tablet {
      margin-top: 1.2rem;
    }
  }
}

.dash-notif {
  width: clamp(0.725rem, 6vw + 1rem, 1.5rem) !important;

  @include tablet {
    margin-top: 1rem !important;
  }
}

.dash-notif-first {
  border-top: 3px solid $white;
  padding-top: 1em;
}

.dash-notif-last {
  border-bottom: 3px solid $white;
  padding-bottom: 1rem;
}

#offcanvasNavbar {
  background-color: darken($white, 10%);
  background-image: url("../../img/side-menu-waves.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dash-menu-img {
  width: clamp(8rem, 10vw + 1rem, 12rem);

  img {
    border-radius: 50%;
    width: 100%;
  }
}

.dash-menu-title h3 {
  font-size: $font-size + 0.2rem;
  font-weight: bold;
  color: $tertiary-color;
}

.notification-aria {
  border-top: 2px solid $white;
  padding-top: 1rem;
  gap: 1rem;
  width: 36%;
}

.dash-drops select {
  font-size: $font-size !important;
  width: 100%;
}

.notification-pic {
  width: 5vw;

  img {
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      filter: hue-rotate(360deg) saturate(5) contrast(50%);
      -webkit-filter: hue-rotate(360deg) saturate(5) contrast(50%);

      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.dash-links {
  a {
    width: clamp(4rem, 10vw + 1rem, 5.5rem);
    color: $tertiary-color;
    font-weight: bolder;
    font-size: clamp(0.8rem, 5vw + 1rem, 1.2rem);

    &:hover,
    &:focus,
    &:active,
    &:target {
      filter: hue-rotate(360deg) saturate(5) contrast(50%);
      -webkit-filter: hue-rotate(360deg) saturate(5) contrast(50%);

      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    img {
      width: 100%;
    }

    @include tablet {
      font-size: $font-size + 0.4rem !important;
      margin-top: 0.5rem;
    }
  }
}
