@use "../abstracts" as *;

/* =============
    Contact
   =============
*/

.contact {
  background-image: url("../img/contact.webp");
}

.contact-form {
  & textarea {
    border-radius: $border-radius - 1.25rem !important;
    resize: none;
    color: $black !important;

    &::placeholder {
      color: $black !important;
    }
  }
}
