@use '../abstracts' as *;

.dash-nav {
    width: 15% !important;

    @include phone {
        width: 20% !important;
    }

    @include tablet-wide {
        width: 8% !important;
    }

    @include desktop {
        width: 6% !important;
    }
}

.containers {
    width: 95% !important;
    
    @include phone {
        width: 80% !important;
    }
}

.dash-content {
    width: 100%;

    @include phone {
        gap: 0 !important; 
    }
}

.dash-tables {
    display: grid;
    grid-template-areas: "contacts" "terapies" "notif" "schedule";
    align-items: center;
    justify-items: center;
    gap: 1rem;
    color: $tertiary-color;

    @include tablet {
        max-height: 50%;
    }

    @include tablet-wide {
        margin-top: 15% !important;
    }

    @include laptop {
        max-width: 80vw;
    }

    h3 {
        font-size: $font-size + 0.3rem;
    }

    .info-contacts {
        grid-area: contacts;
        flex: 0 0 auto;
        width: 100%;

        @include tablet-wide {
            width: 75%;
        }

        @include laptop {
            width: 60%;
        }

        .title-underline {
            border: 2px solid $white;
            margin: 0;
        }
    }

    

    .info-terapii {
        grid-area: terapies;
        width: 100%;
        flex: 0 0 auto;

        @include tablet-wide {
            width: 75%;
        }

        @include laptop {
            width: 60%;
        }

        span {
            font-size: $font-size + 1rem;
        }
    }

    .info-notif {
        grid-area: notif;
        font-size: $font-size - 0.2rem;
        width: 100%;
        flex: 0 0 auto;
        display: flex;

        @include phone{
            margin: 2rem 0;
        }
        
    }

    .info-programari {
        grid-area: schedule;
        font-size: $font-size - 0.2rem;
        width: 100%;
        flex: 0 0 auto;
        display: flex;

    }

    .info-contacts, .info-terapii {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-contacts, .info-terapii, .info-notif, .info-programari {
        background-color: lighten($primary-color, 63%);
        border-radius: 10px;
        padding: 1rem;
        min-height: 12rem;
    }

    @include tablet {
        gap: 2rem;
        grid-template-areas: "contacts notif" "terapies schedule";
    }

    table { 
        position: relative;
        margin: auto;
    }

    tr {
        height: 1.5rem;
        line-height: 1.5rem;

        &:nth-child(4) td:nth-child(2) {
            padding-bottom: 0.2rem !important;
        }
      }

    td {
        padding-bottom: 1rem;
        
        &:nth-child(2){
            padding-left: 3rem;
            @include tablet-wide {
                padding-left: 10rem;
            }
            
        }
    }



    .row-link::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2.5rem;
      }

      tr:hover, a:hover {
        color: lighten($primary-color, 10%) !important;
    }
}

