@use "../abstracts" as *;
@use "../components" as *;
@use "../base" as *;

.upper-text {
  background-color: $primary-color;
  color: $white;

  h2 {
    font-size: $font-size + 0.2rem;

    @include tablet {
      font-size: $font-size + 0.8rem;
    }

    @include tablet-landscape {
      display: none !important;
    }
  }
}

.banner {
  width: 100vw;
  height: 65vh;
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-size: 280% 110%;
  background-position-y: 100%;
  background-position-x: 30%;

  @include s-height {
    height: clamp(80vh, 0.5rem + 1vh, 100vh);
  }

  @include tablet {
    height: 90vh;
    background-size: 150% 130%;
    background-position-x: 40%;
  }

  @include tablet-wide {
    height: 55vh;
  }

  @include tablet-landscape {
    height: 50vh;
    background-image: url("../img/banner-w.webp");
    background-size: 130% 160%;
    background-position-y: 85%;
  }

  @include desktop {
    height: 70vh;
    background-size: 100% 170%;
    background-position-y: 90%;
  }
}

.cover {
  background-color: transparentize($black, 0.6);

  .wide-text {
    color: $white;

    h1 {
      font-size: $font-size + 0.8rem;

      @include tablet-wide {
        font-size: $font-size + 1.5rem;
      }
    }
  }

  h1 {
    font-size: $font-size + 0.2rem;
    padding-top: 2rem;

    @include tablet {
      font-size: $font-size + 0.7rem;
    }

    @include tablet-landscape {
      font-size: $font-size + 0.8rem;
    }
  }

  form {
    margin-bottom: 15vh;
  }
}

.dropdown-toggle::placeholder {
  color: $black !important;
}

.index-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 16vh;
  gap: 0.5rem;
  width: 60%;
  min-width: 30%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 30px;

  @include tablet-wide {
    width: 80%;
    flex-direction: row;
    gap: 0;
  }

  .selectionDropdown {
    display: flex;
    place-content: center;

    @include tablet-wide {
      width: 25%;
    }
  }

  input {
    margin: 0.135rem;
    width: 100%;

    @include tablet-wide {
      width: 80%;
    }

    &::placeholder {
      color: $black !important;
    }
  }

  button {
    margin: 0.135rem;
    width: 95%;

    @include tablet-wide {
      width: 80%;
    }
  }
}

.scroll-container {
  display: grid;
  place-items: center;
}

.mouse {
  width: 2.5rem;
  height: 4.5rem;
  border: 3px solid $black;
  border-radius: $border-radius;
  display: inline-flex;
}
.mouse-wheel {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: $black;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1.25s linear infinite;
}

.middle-button-object {
  height: 0.5rem;
  margin-top: -3vh;
  border: 2px solid $black;
  border-radius: $border-radius;
  position: absolute;
}

@keyframes moveWheel {
  0% {
    opacity: 0;
    translate: 0 1.5rem;
  }

  100% {
    opacity: 1;
    translate: 0 -1.5rem;
  }
}

.card-img-top {
  width: 100%;
  height: 50%;
}

.card-body {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .bi {
    font-size: $font-size + 0.25rem;

    @include phone {
      font-size: $font-size;
    }
  }
}

.arrow {
  width: 8%;
  margin-left: 10%;
}

.arrow-invert {
  width: 6%;
  margin-left: 10%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.content-howto {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: clamp($font-size - 0.2rem, 1vw + 1rem, $font-size + 1rem);
  }

  h4 {
    font-size: clamp($font-size - 0.5rem, 1vw + 0.5rem, $font-size - 0.2rem);

    @include tablet {
      font-size: $font-size;
    }
  }

  img {
    width: 80%;

    @include tablet {
      width: 50%;
    }

    @include tablet-wide {
      width: 70%;
    }

    @include laptop {
      width: 70%;
    }
  }
}

.index-articles {
  gap: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    gap: 2rem;

    @include tablet {
      flex-direction: row;
    }
  }

  .card-link {
    // width: 16rem;
    // height: 20rem;

    width: clamp(12rem, 5vw + 4rem, 20rem);
    height: clamp(16rem, 5vw + 4rem, 24rem);
    margin: 0;
    padding: 0;
    color: lighten($link-hover, 30%);
    color: $white;
    font-weight: $fw-bold;

    &:hover {
      color: $white !important;
    }
  }

  .card-new {
    position: relative;
    // width: 16rem;
    // height: 20rem;
    width: clamp(12rem, 5vw + 4rem, 20rem);
    height: clamp(16rem, 5vw + 4rem, 24rem);
    background-color: $white;
    border-radius: $border-radius - 2.5rem;
    overflow: hidden;
    transition: transform 0.5s;

    &:hover {
      transform: translateY(-0.313rem);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      transform-origin: bottom;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), $black);
      transition: transform 0.25s;
    }

    &:hover::before {
      transform: scaleY(1);
    }

    img {
      display: block;
      max-width: 100%;
    }

    &-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &-body {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
    }

    &-title {
      font-size: clamp($font-size + 0.5rem, 4vw + 0.25rem, $font-size + 1rem);
      line-height: 1rem;
      margin-bottom: 1rem;
      font-weight: $fw-bold;
    }

    &-text {
      font-size: clamp($font-size - 0.15rem, 1.5vw + 0.25rem, $font-size);
      margin: 1rem 0;
    }

    &-subtitle {
      font-size: clamp($font-size, 2.5vw + 0.25rem, $font-size + 0.2rem);
      opacity: 1;
      color: $white !important;
      font-weight: $fw-bolder !important;
    }
  }
}

.card-flip {
  // width: 16rem;
  // height: 20rem;
  width: clamp(12rem, 5vw + 4rem, 20rem);
  height: clamp(16rem, 5vw + 4rem, 24rem);
  perspective: 50rem;

  &-inner {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  &:hover &-inner {
    transform: rotateY(180deg);
  }

  &-body {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    &-front {
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      color: $white !important;

      h2 {
        padding-bottom: 1rem;
      }
    }

    &-back {
      background-image: rgba(255, 255, 255, 0);
      transform: rotateY(180deg);

      img {
        opacity: 0.2;
      }
    }
  }
}

.media {
  @include laptop {
    width: 80%;
  }
}
