@use "../abstracts" as *;
@use "../components" as *;

.upper-text {
  background-color: $primary-color;
  color: $white;

  h2 {
    font-size: $font-size + 0.2rem;

    @include tablet {
      font-size: $font-size + 0.8rem;
    }

    @include tablet-landscape {
      display: none !important;
    }
  }
}

.banner {
  width: 100vw;
  height: 65vh;
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-size: 280% 110%;
  background-position-y: 100%;
  background-position-x: 30%;

  @include s-height {
    height: clamp(80vh, 0.5rem + 1vh, 100vh);
  }

  @include tablet {
    height: 90vh;
    background-size: 150% 130%;
    background-position-x: 40%;
  }

  @include tablet-wide {
    height: 55vh;
  }

  @include tablet-landscape {
    height: 50vh;
    background-image: url("../img/banner-w.webp");
    background-size: 130% 160%;
    background-position-y: 85%;
  }

  @include desktop {
    height: 70vh;
    background-size: 100% 170%;
    background-position-y: 90%;
  }
}

.cover {
  background-color: transparentize($black, 0.6);

  .wide-text {
    color: $white;

    h1 {
      font-size: $font-size + 0.8rem;

      @include tablet-wide {
        font-size: $font-size + 1.5rem;
      }
    }
  }

  h1 {
    font-size: $font-size + 0.2rem;
    padding-top: 2rem;

    @include tablet {
      font-size: $font-size + 0.7rem;
    }

    @include tablet-landscape {
      font-size: $font-size + 0.8rem;
    }
  }

  form {
    margin-bottom: 15vh;
  }
}

.form-container {
  // margin-top: 16vh;
  width: 75vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 30px;

  select,
  button {
    width: 60% !important;
    @include tablet-wide {
      width: 85% !important;
    }
  }

  @include tablet {
    width: 80vw;
  }
}

.scroll-down-section {
  .down-scroll {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;

    img {
      width: 100%;
    }

    .slide-down {
      @include slide-down(1s, ease-out, infinite, alternate, forwards);
    }
  }

  .findout-text {
    text-align: center;
  }
}

.card-img-top {
  width: 100%;
  height: 50%;
}

.card-body {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .bi {
    // padding: 0 2rem;
    // margin-right: -4rem;
    // font-size: clamp($font-size, 0.2vw + 0.5rem, 1.5rem);

    // @include phone {
    //   margin-right: 0rem;
    // }

    font-size: $font-size + 0.25rem;

    @include phone {
      font-size: $font-size;
    }
  }
}

.arrow {
  width: 8%;
  margin-left: 10%;
}

.arrow-invert {
  width: 6%;
  margin-left: 10%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.content-howto {
  h2 {
    font-size: clamp($font-size - 0.2rem, 1vw + 1rem, $font-size + 1rem);
  }

  h4 {
    font-size: clamp($font-size - 0.5rem, 1vw + 0.5rem, $font-size - 0.2rem);

    @include tablet {
      font-size: $font-size;
    }
  }

  img {
    width: 80%;

    @include tablet {
      width: 50%;
    }

    @include tablet-wide {
      width: 70%;
    }

    @include laptop {
      width: 70%;
    }
  }
}

.media {
  @include laptop {
    width: 80%;
  }
}
