@use "../abstracts" as *;

.pacient {
  background-image: url("../img/pacienti-register.webp");
}

.terapeut {
  background-image: url("../img/terapeuti-register.webp");
}

.register-title {
  font-weight: bold !important;
}

.register-subtitle {
  font-size: $font-size - 0.2rem;
}

.register-form {
  a {
    color: $primary-color;
  }
}

.auth-link img {
  width: 15%;
}

#radioProfession {
  padding: 0 !important;
  margin-left: -30vw;
}
