@use '../abstracts' as *;
@use '../base' as *;


/* =============
    Messages
   =============
*/

.messages {
    align-items: center;
    justify-content: center;
    display: flex;

    .list-area {
        height: 30rem;

        @include tablet {
            height: 37rem;
        }
    }

    .person-box-pic {
        width: clamp(4rem, 2vw + 0.5rem, 14rem);
    }

    .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-header {
        border-bottom: 1rem solid $white;
    }

    .header-pn-pic {
        width: clamp(5rem, 6vw + 1rem, 12rem);
    }

    .messages-border-box {
        border: 0.2rem solid $white;
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        padding-bottom: 0;
    }

    .messages-box {
        height: 20rem;

        @include tablet {
            height: 27rem;
        }

        padding-right: 0.25rem;
        
        .message-pic {
            width: clamp(3rem, 8vw + 2rem, 4rem);

            & img {
                width: 100%;
                height: 100%;
            }
        }

        .message-box {
            display: flex;
            width: 90%;
            margin: 1rem;
            padding: 0.25rem;
        }

        .message-general {
            background-color: $input-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
        }

        .message-received {
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            margin-left: 1rem;

            .message-pic {
                margin-left: 0;
                padding-left: 0;
            }

            &-text {
                border-radius: 0 1rem 1rem 1rem;
            }
        }

        .message-sent {
            align-items: center;
            justify-content: flex-end;
            margin-right: 0;
            padding-right: 0;
            margin-left: auto;
            text-align: right;

            .message-pic {

            }

            &-text {
                border-radius: 1rem 0 1rem 1rem;
            }
        }

        .mess-text {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.25rem;
        }

        .mess-date {
            // margin-left: auto;
            // width: 55%;
            text-align: center;
        }
    }

    .send-file {
        font-size: 1rem;
        cursor: pointer;
    }

    .input-group {
        // height: 1rem;
    }
}