@use "../abstracts" as *;
@use "../base" as *;

/* =============
    Notifications
   =============
*/

.notificari {
  @include laptop {
    width: 75%;
  }

  table tr:not(:first-child) {
    &:hover,
    &:focus,
    &:active,
    &:target {
      background: lighten($dark-gray, 25%);
      cursor: pointer;
    }
  }
}
