@use "../abstracts" as *;
@use "../base" as *;

.password-change {
  width: 100%;

  @include tablet-wide {
    width: 60%;
  }

  @include desktop {
    width: 40%;
  }

  &-img {
    display: none !important;

    @include tablet {
      display: flex !important;
      width: 30%;
    }

    @include tablet-wide {
      margin: 2rem;
    }

    @include laptop {
      width: 20%;
    }
  }
}

#container {
  display: flex;
  min-height: 80vh;
  min-height: 80svh;
  margin-top: auto;

  width: 100%;

  @include laptop {
    width: 75%;
  }

  @include desktop {
    width: 60%;
  }
}
