@use "../abstracts" as *;
@use "../base" as *;

/* =============
    Pass change
   =============
*/

.password-change {
  &-img {
    display: none !important;

    @include tablet {
      display: flex !important;
      width: 30%;
    }

    @include tablet-wide {
      margin: 2rem;
    }

    @include laptop {
      width: 20%;
    }
  }
}
