@use '../abstracts' as *;
@use '../base' as *;

.programator-nav {
    a {
        font-size: $font-size - 0.3rem;
        width: 45%;

        @include tablet {
            font-size: $font-size - 0.2rem;
            width: 35%;
        }

        @include laptop {
            width: 25%;
        }
    }
}