@use '../abstracts' as *;

.container-list, .container-informatii {
    background-color: darken($white, 10%);
    border-radius: 40px;
}


.container-list {
    h2 {
        padding-top: 1rem;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
        border-bottom: 4px solid $white;
    }

    form img {
        width: 20px;
    }
}


.container-informatii {
    display: none !important;
}

.lista-container {
    padding: .5rem;
    border-bottom: 4px solid $white;
}

.lista {
    display: flex;
    justify-content: center;
    height: 50vh;
    // padding: 5%;

    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: #B7B7B7;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }
}

.terapeut-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $white;

    &:hover, &:focus, &:active{
        background-color: darken($white, 20%);
    }
    &-pic {
        width: 6rem;

        img {
            border-radius:50px;
        }
    }

    &-content {
        display: flex;
        align-items: center;

        &-name {
            display: flex;
            align-items: center;
        }
    }
}

.bi {
    font-size: $font-size + 1rem;
    color: $green;
}

.text-truncate {
    font-size: 0.7rem;
    max-width: 90%;

    span::after {
        content: "...";
    }
}

#nume h3{
    font-size: 1.2rem;
}

#locatii {
    
}

.info-titles {
    font-size: 1rem;
    padding-left: 5%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    border-radius: 50px;
    background-color: #1F5065;
    color: white;
}

#locatii span {
    font-size: 0.8rem;
}

.msg-button {
    font-size: 0.8rem;
    color: black;
}

#search-recenzii {
    height: 50vh;
}


#search-recenzii::-webkit-scrollbar {
    width: 0.5rem;
}

#search-recenzii::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #B7B7B7;
}

/* scrollbar track */
#search-recenzii::-webkit-scrollbar-track {
    background: white;
}


th {
    text-align: center;
}

td {
    border-top: 4px solid #ffffff;
    padding: 4%;
    font-size: 0.8rem;
}

.search-terap-table td {
    text-align: center;
}

.search-time::after {
    content: " min";
}

.search-price::after {
    content: " RON";
}