@use "../abstracts" as *;
@use "../base" as *;

.settings-profil {
  align-items: center;
  justify-content: center;
  display: flex;

  .header-first {
    width: 100%;
    @include laptop {
      width: 75% !important;
    }

    svg {
      width: 2rem;

      @include tablet {
        width: 3rem;
      }
    }
  }

  &-header {
    h2 {
      text-align: start !important;
      color: $tertiary-color;
      font-weight: $fw-bold;
    }

    .title-underline {
      width: 100%;
      margin: 1rem;
      margin-left: 0 !important;
    }
  }

  .image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .hidden {
      display: none !important;
    }

    .settings-profil-img {
      padding: 0;
    }

    #frame img{
      overflow-clip-margin: content-box;
      overflow: clip;
    }

    .controls {
      display: none;
      background-color: #1b1b1b;
      text-align: center;
      width: 100%;
      height: 2rem;
      margin-bottom: 1rem;
      place-content: center;

      & button {
        font-size: $font-size + 0.2rem;
        display: inline-block;
        color: #b4b4b4;
        background-color: #ffffff00;
        border: none;
        padding: 0 0.25rem;
      }
    }
  }

  .info-form {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-wide {
      width: 70%;
    }

    @include laptop {
      width: 60%;
    }

    button {
      margin: auto;
    }
  }

  &-img {
    width: 100%;

    @include tablet {
      width: 49%;
    }

    .settings-img {
      padding: 0;
      position: relative;
      text-align: center;
    }

    .settings-upload {
      display: block;
      width: 6rem;
      height: 6rem;
      padding: 0;
      background-color: #999999;
      border: 4px solid #cccccc;
      color: #ffffff;
      border-radius: 50%;
      margin: 0px auto;
      overflow: hidden;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;

      @include tablet {
        width: 10rem;
        height: 10rem;
      }

      @include laptop {
        width: 14rem;
        height: 14rem;
      }

      &:hover,
      &:active,
      &:focus,
      &:target {
        border-color: #2ca8ff !important;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    h6 {
      font-size: $font-size - 0.3rem;
      margin: auto;

      @include tablet {
        font-size: $font-size + 0.2rem;
      }
    }

    .content.ct-wizard-green .settings-upload:hover {
      border-color: #05ae0e;
    }

    .content.ct-wizard-blue .settings-upload:hover {
      border-color: #3472f7;
    }

    .content.ct-wizard-orange .settings-upload:hover {
      border-color: #ff9500;
    }

    .content.ct-wizard-red .settings-upload:hover {
      border-color: #ff3b30;
    }

    .settings-upload input[type="file"] {
      cursor: pointer;
      display: block;
      height: 100%;
      left: 25%;
      opacity: 0 !important;
      position: absolute;
      top: 0;
      width: 50%;

      &:hover,
      &:active,
      &:focus,
      &:target {
        box-shadow: red;
      }
    }

    .picture-src {
      width: 100%;
    }
  }

  .speczializari-checks {
    max-height: 50vh;
  }

  .dropdown,
  .btn-group {
    display: flex;
    justify-content: center;
    width: 100%;

    @include tablet {
      width: 49%;
    }

    select {
      width: 80%;
    }
  }

  .btn-group {
    .dropdown-menu {
      width: 100%;
    }

    .dropdown-item {
      margin-left: 1rem;
      width: 90% !important;
    }
  }

  table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 100%;

    @include tablet {
      width: 75%;
    }

    & tr {
      border-bottom: 2px solid $border-color;

      &:first-child {
        text-align: center;
        font-weight: $fw-bolder;
        font-size: $font-size - 0.3rem;

        @include tablet {
          font-size: $font-size + 0.2rem;
        }
      }
    }

    & td {
      border-bottom: 2px solid $border-color;
      padding: 0.125rem;
      font-size: $font-size - 0.4rem;

      @include tablet {
        padding: 0.8rem;
        font-size: $font-size;
      }
    }
  }

  .dash-contact-button {
    .btn {
      width: 45%;

      @include tablet {
        width: 33.3333%;
      }
    }
  }
}




body.guillotine-dragging, body.guillotine-dragging * {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor:    -moz-grabbing !important;
  cursor:         grabbing !important;
  cursor: grabbing, move;  /* IE hack */
}

.guillotine-window {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 100% !important;
  border-radius: 50%;
  cursor: move;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:         grab;
  cursor: grab, move;  /* IE hack */
}

.guillotine-canvas {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.guillotine-canvas > * {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.guillotine-sample {
  position: absolute !important;
  top: -100000px     !important;
  left: -100000px    !important;
  width: auto        !important;
  height: auto       !important;
}
