@use '../abstracts' as *;
@use '../base' as *;


.info-files {
    text-align: center;

    h6 div {
        text-align: center;
        cursor: pointer;

        &:hover, &:focus, &:active, &:target {
            color: #0b6368;
        }

        @include tablet {
            width: 45%;
        }

        @include tablet-wide {
            width: 40%;
        }
    }

    .bi-file-earmark-fill, .bi-globe {
        font-size: clamp($font-size - 0.3rem, 5vw + 1rem, $font-size + 3rem);
        padding: 0;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp($font-size - 0.3rem, 5vw + 1rem, $font-size - 0.1rem);
    }
}
