@use '../abstracts' as *;
@use '../base' as *;

$degree-color: lighten($primary-color, 5%);

.end-space {
    max-height: 2vh;
    min-height: 1vh;
}

.upper-menu {
    position: inherit !important;
    background: rgba(145,203,207,1);
    background: -moz-linear-gradient(180deg, rgba(145,203,207,1) 5%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(145,203,207,1) 5%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(145,203,207,1) 5%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#91cbcf",endColorstr="#ffffff",GradientType=1);
}

.upper-hide {
    display: none;

    @include tablet-wide {
        display: inline;
    }
}

.upper-image {
    width: clamp(8rem, 5vw + 1rem, 12rem);

    img {
        width: 100%;
    }
}

.upper-menu-info {
    width: 100% !important;


    @include tablet-wide {
        width: 80% !important;
    }

    @include laptop {
        width: 85% !important;
    }
}

.dash-settings-header {
    text-align: center;

    h1 {
        color: $tertiary-color;
        font-weight: 900;
        letter-spacing: 0.575rem;
        font-size: calc(1rem + 2.5vw);
        
    
        @include laptop {
            letter-spacing: 0.75rem;
        }
    }
}

.menu-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    a{
        font-size: $font-size - 0.2rem;
        font-weight: $fw-bold;
        width: 6rem;

        @include tablet-wide {
            font-size: $font-size;
            width: 8rem;
        }
    }

    @include laptop {
        gap: 1rem;
    }
}


.settings-info {
    align-items: center;
    justify-content: center;
    display: flex;

    &-img {
        width: 100%;

        @include tablet {
            width: 49%;
        }

        .settings-img{
            position: relative;
            
            text-align: center;
        }

        .settings-upload{
            width: 6rem;
            height: 6rem;
            background-color: #999999;
            border: 4px solid #CCCCCC;
            color: #FFFFFF;
            border-radius: 50%;
            margin: 0px auto;
            overflow: hidden;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;

            @include tablet {
                width: 10rem;
                height: 10rem;
            }

            @include laptop {
                width: 14rem;
                height: 14rem;
            }

            &:hover, &:active, &:focus, &:target {
                border-color: #2ca8ff !important;
            }
        }

        h6{
            font-size: $font-size - 0.3rem;
            margin: auto;

            @include tablet {
                font-size: $font-size + 0.2rem;
            }
        }

        .content.ct-wizard-green .settings-upload:hover{
            border-color: #05ae0e;
        }
        .content.ct-wizard-blue .settings-upload:hover{
            border-color: #3472f7;
        }
        .content.ct-wizard-orange .settings-upload:hover{
            border-color: #ff9500;
        }
        .content.ct-wizard-red .settings-upload:hover{
            border-color: #ff3b30;
        }
        .settings-upload input[type="file"] {
            cursor: pointer;
            display: block;
            height: 100%;
            left: 25%;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 50%;

            &:hover, &:active, &:focus, &:target  {
                box-shadow: red;
            }
        }
        
        .picture-src{
            width: 100%;
            
        }


        // @include tablet {
        //     // max-width: 49%;
        //     width: clamp(12rem, 12vw + 1rem, 24rem);
        // }

        // .photo-change {
        //     // position: absolute;
        //     margin: auto;
        //     // height: 102px;
        //     // width: 102px;
        //     background-color: transparent;


        //     @media (hover:hover) and (pointer:fine) {
        //         display: none;
        //         position: fixed;
        //         &:hover, &:target, &:active, &:focus {
        //             display: inline;
        //             position: absolute;
        //         }
        //     }
        // }   

        // img {
        //     border-radius: 50%;
        //     width: 100%;

        //     &:hover, &:target, &:active, &:focus {
        //         filter: drop-shadow(0 0 2px black) grayscale(90%);
        //     }   
        // }

        // button {
        //     font-size: $font-size;
        //     width: 6rem;
        // }
    }

    h2 {
        text-align: start !important;
    }

    .title-underline {
        width: 100%;
        margin-left: 0 !important;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        
        // grid-template-areas: "img" "personal" "terapeuti" "activitate" "zone" "locatii";
        
        .settings-info-img {
            // grid-area: img;

            
        }

        .settings-personal {
            // grid-area: personal;
            @include tablet {
                max-width: 49%;
            }
        }

        .settings-terapeuti {
            // grid-area: terapeuti;
        }

        .settings-activitate {
            // grid-area: activitate;
        }

        .settings-zone {
            // grid-area: zone
        }

        .settings-locatii-alese {
            // grid-area: locatii;
        }

        @include tablet-wide {
            // grid-template-areas: "img personal" "terapeuti terapeuti" "activitate activitate" "zone zone" "locatii locatii";
            width: 70%;
        }


        button {
            margin: auto;
        }
    }

    .speczializari-checks {
        max-height: 50vh;
    }
}

.info-form {
    // display: grid;
    // grid-template-columns: 2fr;
    // justify-content: center;
    // align-items: center;
}

