@use "../abstracts" as *;
@use "../base" as *;

.settings-profil {
  .panel-list {
    border-radius: 10px;
    font-size: $font-size - 0.1rem;

    @include tablet-wide {
      margin: auto;
      width: 50%;
    }

    li {
      border: 1px solid $border-color;
      padding: 0.5rem 0.125rem;
    }

    span {
      margin: auto !important;
    }
  }
}

.other-sets {
  .checks,
  .abo-change {
    width: 100%;

    @include tablet-wide {
      width: 50%;
    }
  }

  .checks {
    margin: auto !important;
  }

  .checks div,
  .abo-change a {
    @include tablet {
      margin-left: 25%;
    }
  }
}

.currency-add {
  &::after {
    content: " RON";
  }
}
