<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Kineto și masaj | Terapeuți la tine acasă!</title> -->
    <link rel="icon" type="image/x-icon" href="../img/icon.webp" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../sass/main.css" />
  </head>
  <body class="d-flex row h-100 w-100 m-0 p-0 custom-scrollbar-css overflow-auto">
    <header class="col-12 w-100 m-0 p-0">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <img src="../img/Logo-transp-wide-black.webp" alt="Kiento și masaj la tine acasă" />
          </a>
          <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Planuri</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="about-us.html">Despre Noi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Înregistrare</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="inregistrare-pacient.html">Pacienți</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="inregistrare-terapeut.html">Terapeuți</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <a tabindex="0" class="btn auth m-0 p-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content-id="popover-content" data-bs-customClass="d-flex justify-content-center align-items-center">
            <!-- Apare poza de profil doar dacă este logat -->
            <!-- Pune un over text pentru selectie de intrare in dashboard Principal, Setari sau logout -->
            <div class="auth-profile"></div>
            <div id="popover-content" class="d-none">
              <div class="popover-content-body row">
                <div class="popover-content-header">
                  <div class="auth-profile"></div>
                  <br />
                  <h3 class="popover-name">Nume Și prenume</h3>
                  <span class="popover-function">Kinetoterapeut</span>
                </div>

                <hr />
                <div class="popover-content-links">
                  <a class="nav-link" href="terapeuti/dashboard-terapeut.html">
                    <div class="popover-links-image">
                      <img src="../img/dashboard icon.webp" alt="Dashboard" />
                    </div>

                    <span>Dashboard</span>
                  </a>
                  <a class="nav-link" href="terapeuti/setari-profil.html">
                    <div class="popover-links-image">
                      <img src="../img/setari icon.webp" alt="Setări" />
                    </div>

                    <span>Setări</span>
                  </a>
                  <a class="nav-link" href="deconectare.html">
                    <div class="popover-links-image">
                      <img src="../img/logout icon.webp" alt="Ieșire" />
                    </div>

                    <span>Ieșire</span>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </nav>
    </header>
    <main class="col-12 d-flex justify-content-center align-items-center row w-100 m-0 p-0 mb-4">
      <div class="col-12 d-flex row justify-content-start align-items-center">
        <div class="col-7 col-lg-3 col-xl-2">
          <h1 class="title">Abonamente</h1>
        </div>

        <div class="col-12 subscriptions">
          <div id="carouselFunctionality" class="carousel carousel-dark slide rem-carousel">
            <div class="carousel-indicators desktop-hide">
              <button type="button" data-bs-target="#carouselFunctionality" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Free"></button>
              <button type="button" data-bs-target="#carouselFunctionality" data-bs-slide-to="1" aria-label="Bronze"></button>
              <button type="button" data-bs-target="#carouselFunctionality" data-bs-slide-to="2" aria-label="Silver"></button>
              <button type="button" data-bs-target="#carouselFunctionality" data-bs-slide-to="3" aria-label="SGold"></button>
            </div>
            <div class="carousel-inner rem-inner inner-cards">
              <div class="mobile-hide">
                <div class="description card">
                  <div class="card-header row"></div>
                  <div class="card-content">
                    <div class="group-box">
                      <div class="text">Listare în listele de căutări</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Pacienții te pot căuta</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Acces la chatul platformei</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Stabilirea propriilor terapii și tarife</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Selectarea zonei de activitate</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Raport lunar al activității</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Contactări unice săptămânale</div>
                    </div>
                    <div class="group-box">
                      <div class="text">fișe/pacient</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Acces la calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Programări simultane în calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Colorarea programărilor</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Afișare dashboard avansată</div>
                    </div>
                    <div class="group-box">
                      <div class="text">Notificare expirare ALP + link către portalul CFZRO</div>
                    </div>

                    <div class="group-box">
                      <div class="text">Buton de activitate pe platformă direct în dashboard</div>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>

              <div class="carousel-item active rem-item">
                <div class="card starter">
                  <div class="card-header row">
                    <h2>Starter</h2>
                    <div class="sub-sum-box">
                      <span class="amount">0</span>
                      <span>
                        lei /
                        <br />
                        lună
                      </span>
                    </div>
                    <div>
                      <button class="btn btn-primary">Vreau abonamentul</button>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Listare în listele de căutări</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Pacienții te pot căuta</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la chatul platformei</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Stabilirea propriilor terapii și tarife</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Selectarea zonei de activitate</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Raport lunar al activității</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">5</div>
                      <div class="text">Contactări unice săptămânale</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">2</div>
                      <div class="text">fișe/pacient</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">10</div>
                      <div class="text">Programări simultane în calendar</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Colorarea programărilor</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Afișare dashboard avansată</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Notificare expirare ALP + link către portalul CFZRO</div>
                    </div>

                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Buton de activitate pe platformă direct în dashboard</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <button class="btn btn-success">Alege planul</button>
                    </div>
                    <div>
                      <span class="text">3 luni gratuit</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item rem-item">
                <div class="card bronze">
                  <div class="card-header row">
                    <h2>Bronze</h2>
                    <div class="sub-sum-box">
                      <span class="amount">50</span>
                      <span>
                        lei /
                        <br />
                        lună
                      </span>
                    </div>
                    <div>
                      <button class="btn btn-primary">Vreau abonamentul</button>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Listare în listele de căutări</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Pacienții te pot căuta</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la chatul platformei</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Stabilirea propriilor terapii și tarife</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Selectarea zonei de activitate</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Raport lunar al activității</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">5</div>
                      <div class="text">Contactări unice săptămânale</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">1</div>
                      <div class="text">fișă/pacient</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Acces la calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">0</div>
                      <div class="text">Programări simultane în calendar</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Colorarea programărilor</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Afișare dashboard avansată</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Notificare expirare ALP + link către portalul CFZRO</div>
                    </div>

                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Buton de activitate pe platformă direct în dashboard</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <button class="btn btn-success">Alege planul</button>
                    </div>
                    <div class="text">
                      <span class="text">3 luni gratuit</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item rem-item">
                <div class="card silver">
                  <div class="card-header row">
                    <h2>Silver</h2>
                    <div class="sub-sum-box">
                      <span class="amount">100</span>
                      <span>
                        lei /
                        <br />
                        lună
                      </span>
                    </div>
                    <div>
                      <button class="btn btn-primary">Vreau abonamentul</button>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Listare în listele de căutări</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Pacienții te pot căuta</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la chatul platformei</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Stabilirea propriilor terapii și tarife</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Selectarea zonei de activitate</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Raport lunar al activității</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">10</div>
                      <div class="text">Contactări unice săptămânale</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">2</div>
                      <div class="text">fișe/pacient</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">10</div>
                      <div class="text">Programări simultane în calendar</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Colorarea programărilor</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Afișare dashboard avansată</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Notificare expirare ALP + link către portalul CFZRO</div>
                    </div>

                    <div class="group-box">
                      <span class="col-3 bi bi-x"></span>
                      <div class="text">Buton de activitate pe platformă direct în dashboard</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <button class="btn btn-success">Alege planul</button>
                    </div>
                    <div>
                      <span class="text">3 luni gratuit</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item rem-item">
                <div class="card gold">
                  <div class="card-header row">
                    <h2>Gold</h2>
                    <div class="sub-sum-box">
                      <span class="amount">150</span>
                      <span>
                        lei /
                        <br />
                        lună
                      </span>
                    </div>
                    <div>
                      <button class="btn btn-primary">Vreau abonamentul</button>
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Listare în listele de căutări</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Pacienții te pot căuta</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la chatul platformei</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Stabilirea propriilor terapii și tarife</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Selectarea zonei de activitate</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Raport lunar al activității</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">20</div>
                      <div class="text">Contactări unice săptămânale</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">5</div>
                      <div class="text">fișă/pacient</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Acces la calendar</div>
                    </div>
                    <div class="group-box">
                      <div class="marks">20</div>
                      <div class="text">Programări simultane în calendar</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Colorarea programărilor</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Afișare dashboard avansată</div>
                    </div>
                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Notificare expirare ALP + link către portalul CFZRO</div>
                    </div>

                    <div class="group-box">
                      <span class="col-3 bi bi-check"></span>
                      <div class="text">Buton de activitate pe platformă direct în dashboard</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <button class="btn btn-success">Alege planul</button>
                    </div>
                    <div>
                      <span class="text">3 luni gratuit</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev desktop-hide" type="button" data-bs-target="#carouselFunctionality" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next desktop-hide" type="button" data-bs-target="#carouselFunctionality" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </main>
    <footer class="col-12 d-flex row justify-content-center align-items-center w-100 mt-auto m-0 ms-0 p-0 py-3 bg-dark">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center text-center">
        <a href="../index.html" class="col-12 d-flex justify-content-center">
          <img id="footer-brand" src="../img/Logo-transp-wide-white.webp" alt="Kineto și Masaj" />
        </a>
        <div class="col-12 d-flex row justify-content-center align-items-center mt-4 media">
          <h4 class="social-header text-center">Descoperă-ne și pe:</h4>
          <div class="d-flex row justify-content-center">
            <a href="" class="col-2 social-link, d-flex justify-content-center align-items-center">
              <img class="social-img" src="../img/facebook.webp" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>
      <a href="../templates/search.html" class="col-md-4 col-sm-12 col-xs-12 mt-3 mb-3 d-flex align-items-center justify-content-center gap-2 text-center footer-search btn btn-secondary" type="button">
        Caută terapeuți
        <i class="bi bi-arrow-right-circle"></i>
      </a>
      <div class="col-md-4 col-sm-12 col-xs-12 m-2 d-flex row justify-content-center align-items-center text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 m-0">
          <ul class="p-0">
            <li class="mt-1">
              <a href="../index.html" class="footer-links">Acasă</a>
            </li>
            <li class="mt-1">
              <a href="../templates/about-us.html" class="footer-links">Despre noi</a>
            </li>
            <li class="mt-1">
              <a href="../templates/contact.html" class="footer-links">Contactează-ne</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 p-0 m-0 mt-2 footer-utility">
          <ul class="p-0">
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="politica.html" class="footer-links">Politica de confidențialitate</a>
            </li>
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="termeni.html" class="footer-links">Termeni și condiții</a>
            </li>
            <li class="mt-2">
              <a href="https://anpc.ro/" class="footer-links">ANPC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 text-center mt-4 copyright">
        <span>
          &copy; 2023 Kineto și Masaj - Terapeuți la tine acasă!
          <br class="copyright-break-hide" />
          S.C. Home Help Search S.R.L.
        </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="../javascript.js"></script>
  </body>
</html>
