<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.webp">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../sass/main.css">
</head>
<body class="d-flex m-0 p-0">
    <div class="d-flex w-100 m-0 p-0 dash-container">
        <nav class="m-0 p-2 fixed-left navbar bg-light dash-nav">
            <div class="d-flex row justify-content-center align-items-center m-0 p-0 container-fluid">
                <button class="col-12 d-flex justify-content-center align-items-center mb-5 navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" id="toggleButton">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="m-0 p-0 overflow-auto collapsed-menu">
                    <ul class="flex-column justify-content-center align-items-center flex-grow-1 p-0 m-0 gap-2 navbar-nav collapsedLinks">
                        <li class="nav-item dash-notif dash-notif-first">
                            <a href="mesagerie.html" class="active">
                                <img src="../img/message icon.webp" alt="Mesagerie platformă">
                            </a>
                        </li>
                        <li class="nav-item dash-notif">
                            <a href="notificari.html" class="">
                                <img src="../img/notif icon.webp" alt="Notificări platformă">
                            </a>
                        </li>
                        <li class="nav-item dash-notif dash-notif-last">
                            <a href="calendar.html" class="">
                                <img src="../img/schedule icon.webp" alt="Calendar platformă">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="search.html" class="">
                                <img src="../img/search-col.webp" alt="Căutare terapeuți">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../dashboard-terap.html" class="">
                                <img src="../img/dashboard icon.webp" alt="Dashboard">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="programari.html" class="">
                                <img src="../img/programari icon.webp" alt="Programări">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../index.html" class="">
                                <img src="../img/home icon.webp" alt="Acasă">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="setari-profil.html" class="">
                                <img src="../img/setari icon.webp" alt="Setări">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="dash-contact.html" class="">
                                <img src="../img/contact icon.webp" alt="Contact">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="deconectare.html" class="">
                                <img src="../img/logout icon.webp" alt="Ieșire">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="pt-2 pe-2 btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body m-0 p-0">
                        <div class="d-flex row justify-content-center align-items-center m-0">
                            <div class="col-12 d-flex justify-content-center dash-menu-img">
                                <img src="../img/profiles/1_ (3).jpg" alt="imagine utilizator">
                            </div>
                            <div class="col-12 d-flex justify-content-center mt-2 dash-menu-title">
                                <h3>
                                    Bine ai venit, Ioan!
                                </h3>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mt-2 gap-2 notification-aria">
                                <div class="notification-pic gap-3">
                                    <a href="mesagerie.html" class="nav-link active">
                                        <img src="../img/message icon.webp" alt="Mesagerie platformă">
                                    </a>
                                </div>
                                <div class="notification-pic gap-3">
                                    <a href="notificari.html" class="nav-link">
                                        <img src="../img/notif icon.webp" alt="Notificări platformă">
                                    </a>
                                </div>
                                <div class="notification-pic gap-3">
                                    <a href="calendar.html" class="nav-link">
                                        <img src="../img/schedule icon.webp" alt="Calendar platformă">
                                    </a>
                                </div>
                            </div>
                            <form class="col-12 d-flex row justify-content-center align-items-center mt-2" role="search">
                                <div class="col-6 d-flex">
                                    <div class="d-flex justify-content-center align-content-center col-12 mt-2 mb-2 m-0 p-0 dropdown dash-drops">
                                        <select name="Services" onchange="SelectService(this);" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuServicii" data-bs-toggle="dropdown" aria-expanded="false">
                                            <option class="dropdown-menu" aria-labelledby="dropdownMenuServicii">Servicii</option>
                                            <option class="dropdown-item" value="Kinetoterapeut">Kinetoterapeut</option>
                                            <option class="dropdown-item" value="Maseur">Maseur</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6 d-flex">
                                    <div class="d-flex justify-content-center align-content-center col-12 mt-2 mb-2 m-0 p-0 dropdown dash-drops">
                                        <select name="Specialization" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSpecializari" data-bs-toggle="dropdown" aria-expanded="false">
                                            <option class="dropdown-menu" aria-labelledby="dropdownMenuSpecializari">Specializări</option>
                                            <option class="dropdown-item" value="Kinetoterapie">Kinetoterapie</option>
                                            <option class="dropdown-item" value="Masaj">Masaj</option>
                                            <option class="dropdown-item" value="Cardiologie">Cardiologie</option>
                                            <option class="dropdown-item" value="Balneologie">Balneologie</option>
                                            <option class="dropdown-item" value="Limfedem">Limfedem</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group d-flex justify-content-center text-center p-2 search-box">
                                        <input type="text" class="form-control" placeholder="Caută un terapeut..." aria-label="Caută" aria-describedby="search-button">
                                        <!-- Cu trimitere la pagina de search cu filtrele selectate mai sus -->
                                        <button class="btn btn-success search-button" type="button">
                                            <img src="../img/search.webp" class="search-icon" alt="Caută">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
                    <div class=" d-flex justify-content-center align-items-start">
                        <ul class="col-6 justify-content-center align-items-center flex-column nav">
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="../dashboard-terap.html">
                                    <img class="col-3" src="../img/dashboard icon.webp" alt="Dashboard">
                                    <span class="col-9">Dashboard</span>
                                </a>
                            </li>
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="pragramari.html">
                                    <img src="../img/programari icon.webp" alt="">
                                    Programări
                                </a>
                            </li>
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="../index.html">
                                    <img src="../img/home icon.webp" alt="">
                                    Acasă
                                </a>
                            </li>
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="setari-profil.html">
                                    <img src="../img/setari icon.webp" alt="">
                                    Setări
                                </a>
                            </li>
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="dash-contact.html">
                                    <img src="../img/contact icon.webp" alt="">
                                    Contact
                                </a>
                            </li>
                            <li class="col-12 d-flex justify-content-start align-items-start nav-item dash-links m-0 p-0">
                                <a class="col-12 d-flex justify-content-start align-items-center nav-link gap-3" aria-current="page" href="deconectare.html">
                                    <img src="../img/logout icon.webp" alt="">
                                    Deconectare
                                </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </nav>
        <div class="d-flex row justify-content-center align-items-center m-0 p-0 h-100 containers">
            <div class="m-0 p-0 pb-4 overflow-auto custom-scrollbar-css dash-content">
                <nav class="m-0 p-0 d-flex row fixed-top navbar uppernav-menu">
                    <div class="col-1 uppernav-image uppernav-hide">
                        <img src="../img/setting-lock.png" alt="" class="stanga">
                    </div>
                    <div class="col-9 uppernav-menu-info">
                        <div class="uppernav-header">
                            <h1>
                                Mesagerie
                            </h1>
                        </div>
                    </div>
                </nav>
                <div class="row gap-4 messages h-75 m-0 mt-4 p-2">
                    <div class="d-flex row m-2 p-0 h-100 list-container">
                        <div class="search-area">
                            <div class="header-container">

                            </div>
                            <form action="" method="" class="col-12 d-flex row justify-content-center p-2 m-0 list-form search-box">
                                <div class="col-12 m-0 p-2">
                                    <div class="input-group d-flex justify-content-center text-center w-100 m-0 p-2">
                                        <input type="text" class="form-control" placeholder="Caută un contact..." aria-label="Caută" aria-describedby="search-button">
                                        <button class="btn btn-success" type="button">
                                            <img src="../img/search.webp" id="search-icon" alt="Caută">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mt-0 p-0 list-area-container">
                            <div class="my-0 py-0 overflow-auto list-area">
                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>

                                <div class="person-box">
                                    <div class="person-box-pic">
                                        <img src="../img/profiles/PozaW.webp" alt="{Nume_Terapeut}">
                                    </div>
                                    <div class="row m-0 p-0 person-box-info">
                                        <span class="me-0 pe-0 person-box-name">Hîrjoabă Ioan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 p-0 h-100 row info-container">
                        <div class="info-header">
                            <div class="d-flex m-0 pb-0 justify-content-end align-items-center" id="close">
                                <button type="button" class="btn-close" aria-label="Close" name="closeData" text="X"></button>
                            </div>
                            <div class="header-pn">
                                <div class="m-0 p-0 header-pn-pic">
                                    <img src="../img/profiles/PozaH.webp" alt="{Nume terapeut}">
                                </div>
                                <div class="m-0 p-0 header-pn-name">
                                    <span class="">Hîrjoabă Ioan</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-long">
                            <div class="messages-border-box">
                                <div class="d-flex row justify-content-between align-items-start messages-box overflow-auto custom-scrollbar-css">
                                    <span class="mess-date h-auto">27.02.2023 14:02</span>
                                    <div class="h-auto message-received message-box">
                                        <span class="mess-name">John</span>
                                        <span class="mess-text">Buna!</span>
                                    </div>
    
                                    <div class="h-auto message-sent message-box">
                                        <span class="mess-name">Ann</span>
                                        <span class="mess-text">Hello!</span>
                                    </div>
                                    <div class="h-auto message-received message-box">
                                        <span class="mess-name">John</span>
                                        <span class="mess-text">Putem stabili o sedinta?</span>
                                    </div>
    
                                    <div class="h-auto message-sent message-box">
                                        <span class="mess-name">Ann</span>
                                        <span class="mess-text">Desigur</span>
                                    </div>
                                    <div class="h-auto message-received message-box">
                                        <span class="mess-name">John</span>
                                        <span class="mess-text">Ce date aveti disponibile pentru a programa o sedinta de terapie?</span>
                                    </div>
    
                                    <div class="h-auto message-sent message-box">
                                        <span class="mess-name">Ann</span>
                                        <span class="mess-text">Miercurea si joia</span>
                                    </div>
                                    <div class="h-auto message-received message-box">
                                        <span class="mess-name">John</span>
                                        <span class="mess-text">Pe la ce ore?</span>
                                    </div>
    
                                    <div class="h-auto message-sent message-box">
                                        <span class="mess-name">Ann</span>
                                        <span class="mess-text">orele 14 si 15</span>
                                    </div>
                                    <div class="h-auto message-received message-box">
                                        <span class="mess-name">John</span>
                                        <span class="mess-text">Perfect! O zi buna!</span>
                                    </div>
    
                                    <div class="h-auto message-sent message-box">
                                        <span class="mess-name">Ann</span>
                                        <span class="mess-text">O zi frumoasa!</span>
                                    </div>
                                </div>
                            </div>
                            <form action="" class="col-12 d-flex row justify-content-center p-2 m-0 list-form search-box">
                                <div class="col-12 d-flex justify-content-center align-items-center m-0 p-2">
                                    <div class="send-file">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-file-earmark-arrow-up send-file" viewBox="0 0 16 16">
                                            <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                        </svg>
                                    </div>
                                    <div class="input-group d-flex justify-content-center text-center w-100 m-0 p-2">
                                        <input type="text" class="form-control" placeholder="Scrie..." aria-label="Caută" aria-describedby="search-button">
                                        <button class="btn btn-success" type="button">
                                            <img src="../img/search.webp" id="search-icon" alt="Caută">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mx-2 px-2 end-space"></div>                 
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="../javascript.js"></script>
</body>
</html>