<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kineto și masaj | Terapeuți la tine acasă!</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.webp" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../sass/main.css" />
  </head>
  <body class="d-flex row h-100 w-100 m-0 p-0 custom-scrollbar-css overflow-auto">
    <header class="col-12 w-100 m-0 p-0">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <img src="../img/Logo-transp-wide-black.webp" alt="Kiento și masaj la tine acasă" />
          </a>
          <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="abonamente.html">Planuri</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="about-us.html">Despre Noi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Înregistrare</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="inregistrare-pacient.html">Pacienți</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="inregistrare-terapeut.html">Terapeuți</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <a tabindex="0" class="btn auth m-0 p-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content-id="popover-content" data-bs-customClass="d-flex justify-content-center align-items-center">
            <!-- Apare poza de profil doar dacă este logat -->
            <!-- Pune un over text pentru selectie de intrare in dashboard Principal, Setari sau logout -->
            <div class="auth-profile"></div>
            <div id="popover-content" class="d-none">
              <div class="popover-content-body row">
                <div class="popover-content-header">
                  <div class="auth-profile"></div>
                  <br />
                  <h3 class="popover-name">Nume și prenume</h3>
                  <span class="popover-function">Kinetoterapeut</span>
                </div>

                <hr />
                <div class="popover-content-links">
                  <a class="nav-link" href="terapeuti/dashboard.html">
                    <div class="popover-links-image">
                      <img src="../img/dashboard icon.webp" alt="Dashboard" />
                    </div>

                    <span>Dashboard</span>
                  </a>
                  <a class="nav-link" href="terapeuti/setari-profil.html">
                    <div class="popover-links-image">
                      <img src="../img/setari icon.webp" alt="Setări" />
                    </div>

                    <span>Setări</span>
                  </a>
                  <a class="nav-link" href="deconectare.html">
                    <div class="popover-links-image">
                      <img src="../img/logout icon.webp" alt="Ieșire" />
                    </div>

                    <span>Ieșire</span>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </nav>
    </header>

    <!-- Continutul diferit pe ficare pagina -->
    <main class="col-12 d-flex row w-100 m-0 p-0 mb-4">
      <!-- Conținutul -->
      <div class="d-flex row justify-content-center align-items-center m-0 mt-2 mb-4 p-2 w-100 h-100">
        <div class="col-12 d-flex justify-content-start align-items-center">
          <h1 class="title">Politica de confidențialitate</h1>
        </div>
        <div class="d-flex row justify-content-center align-items-center m-0 t-p">
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>1. DEFINIȚII</strong>
            </h2>
          </div>
          <p>
            <b
              ><span>„<strong>„GDPR”</strong>”,<strong> </strong>„<strong>„Regulamentul”</strong>”</span></b
            >- Regulamentul (UE) 2016/679 al Parlamentului Eurpean și al Consiliului din 27 aprilie 2016 privind protecția persoanelor fizice n ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general privind protecția datelor, n limba engleză General Data Protection Regulation);
          </p>

          <p>
            <b><strong>„date cu caracter personale”</strong></b
            >- orice informații privind o persoană fizică identificată sau identificabilă („persoana vizată”); o persoană fizică identificabilă este o persoană care poate fi identificată, direct sau indirect, în special prin referire la un element de identificare, cum ar fi un nume, un număr de identificare, date de localizare, un identificator online, sau la unul sau mai multe elemente specifice, proprii identității sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale;
          </p>

          <p>
            <em>„<strong>prelucrare</strong>”</em>
          </p>

          <p><em>„<strong>operator</strong>”</em>- înseamnă persoana fizică sau juridică, autoritatea publică, agenția sau alt organism care, singur sau împreună cu altele, stabilește scopurile și mijloacele de prelucrare a datelor cu caracter personal; atunci când scopurile și mijloacele prelucrării sunt stabilite prin dreptul Uniunii sau dreptul intern, operatorul sau criteriile specifice pentru desemnarea acestuia pot fi prevăzute în dreptul Uniunii sau în dreptul intern;</p>

          <p>
            <em>„<strong>persoană împuternicită de operator</strong>”</em>
          </p>

          <p><em>„<strong>destinatar</strong>”</em>- înseamnă persoana fizică sau juridică, autoritatea publică, agenția sau alt organism căreia (căruia) îi sunt divulgate datele cu caracter personal, indiferent dacă este sau nu o parte terță. Cu toate acestea, autoritățile publice cărora li se pot comunica date cu caracter personal în cadrul unei anumite anchete în conformitate cu dreptul Uniunii sau cu dreptul intern nu sunt considerate destinatari; prelucrarea acestor date de către autoritățile publice respective respectă normele aplicabile în materie de protecție a datelor, în conformitate cu scopurile prelucrării;</p>
          <p <p>
            <em>„<strong>parte terță</strong>”</em>- înseamnă o persoană fizică sau juridică, autoritate publică, agenție sau organism altul decât persoana vizată, operatorul, persoana împuternicită de operator și persoanele care, sub directa autoritate a operatorului sau a persoanei împuternicite de operator, sunt autorizate să prelucreze date cu caracter personal;> <em><span>„<strong>consimțământ</strong>”</span></em
            ><span> - al persoanei vizate înseamnă orice manifestare de voință liberă, specifică, informată și lipsită de ambiguitate a persoanei vizate prin care aceasta acceptă, printr-o declarație sau printr-o acțiune fără echivoc, ca datele cu caracter personal care o privesc să fie prelucrate;</span>
          </p>

          <p>
            <em
              ><span>„<strong>încălcarea securității datelor cu caracter personal</strong>”</span></em
            ><span> - înseamnă o încălcare a securității care duce, în mod accidental sau ilegal, la distrugerea, pierderea, modificarea, sau divulgarea neautorizată a datelor cu caracter personal transmise, stocate sau prelucrate într-un alt mod, sau la accesul neautorizat la acestea;</span>
          </p>

          <p>
            <em><span>„<strong>reprezentant</strong>”</span></em
            ><span> - înseamnă o persoană fizică sau juridică stabilită în Uniune, desemnată în scris de către operator sau persoana împuternicită de operator, care reprezintă operatorul sau persoana împuternicită în ceea ce privește obligațiile lor respective care le revin în temeiul GDPR;</span>
          </p>

          <p>
            <em
              ><span>„<strong>reguli corporatiste obligatorii</strong>”</span></em
            ><span> - înseamnă politicile în materie de protecție a datelor cu caracter personal care trebuie respectate de un operator sau de o persoană împuternicită de operator stabilită pe teritoriul unui stat membru, în ceea ce privește transferurile sau seturile de transferuri de date cu caracter personal către un operator sau o persoană împuternicită de operator în una sau mai multe țări terțe în cadrul unui grup de întreprinderi sau al unui grup de întreprinderi implicate într-o activitate economică comună;</span>
          </p>

          <p>
            <em
              ><span>„<strong>autoritate de supraveghere</strong>”</span></em
            ><span> - înseamnă o autoritate publică independentă instituită de un stat membru;</span>
          </p>

          <p>
            <em><span>„<strong>DPO</strong>”</span></em
            ><span> - responsabilului cu protecția datelor (în limba engleză, data protection officer);</span>
          </p>

          <p>
            <em><span>„<strong>DPIA</strong>”</span></em
            ><span> - evaluarea impactului asupra protecției datelor (în limba engleză, data-protection impact assessment, DPIA);</span>
          </p>

          <p>
            <span
              >„<strong><em>transmitere</em></strong
              >” - înseamnă transmiterea în orice formă a datelor cu caracter personal spre a fi cunoscute și consultate de una sau mai multe părți;</span
            >
          </p>

          <p>
            <span
              >„<strong><em>persoana vizată</em></strong
              >” - înseamnă persoana fizică la care fac referire datele cu caracter personal;</span
            >
          </p>

          <p>
            <span
              >„<strong><em>difuzare/divulgare</em></strong
              >” - înseamnă aducerea la cunoștința uneia sau mai multor părți a datelor cu caracter personal, în orice formă, și de asemenea, punerea acestora la dispoziție spre a fi consultate;</span
            >
          </p>

          <p>
            <span
              >„<strong><em>restricționarea prelucrării</em></strong
              >” - înseamnă marcarea datelor cu caracter personal stocate cu scopul de a limita prelucrarea viitoare a acestora;</span
            >
          </p>

          <p>
            <span
              >„<strong><em>creare de profiluri</em></strong
              >” - înseamnă orice formă de prelucrare automată a datelor cu caracter personal care constă în utilizarea datelor cu caracter personal pentru a evalua anumite aspecte personale referitoare la o persoană fizică, în special pentru a analiza sau prevedea aspecte privind performanţa la locul de muncă, situaţia economică, sănătatea, preferinţele personale, interesele, fiabilitatea, comportamentul, locul în care se află persoana fizică respectivă sau deplasările acesteia.</span
            >
          </p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong><span>2. SCOPUL ȘI DOMENIUL DE APLICABILITATE</span></strong
              ><strong><span> </span></strong>
            </h2>
          </div>

          <div>
            <h3>
              <span>2.1. Scopul</span>
            </h3>
          </div>
          <p>
            <span
              >Prezenta Politică are drept scop stabilirea principiilor de bază a prelucrării datelor cu caracter personal, metodologia de lucru, precum și reguli pentru Angajați pentru a se asigura confidențialitatea datelor personale în operațiunile de prelucrare a<strong> <u>datelor personale</u></strong> efectuate de Furnizor, în conformitate cu legislația aplicabilă.
            </span>
          </p>

          <p>
            <span>Respectarea confidențialității datelor cu caracter personal reprezintă o obligație a Furnizorului și a colaboratorilor săi, având în vedere sensibilitatea datelor cu caracter personal prelucrate, dreptul la protecția datelor personale și dreptul la viața privată a persoanelor fizice.</span>
          </p>

          <p>
            <span>Colaboratorii Furnizorului înțeleg și au reprezentarea deplină a faptului că încălcarea confidențialității datelor personale poate conduce la prejudicii fizice, materiale sau morale persoanelor fizice, cum ar fi pierderea controlului asupra datelor lor cu caracter personal sau limitarea drepturilor lor, discriminare, furt sau fraudă de identitate, pierdere financiară, inversarea neautorizată a pseudonimizării, compromiterea reputației, pierderea confidențialității datelor cu caracter personal protejate prin secret profesional sau orice alt dezavantaj semnificativ de natură economică sau socială adus persoanei fizice în cauză.</span>
          </p>

          <div>
            <h3>
              <span>2.2. Destinatari</span>
            </h3>
          </div>
          <p>
            <span>Prevederile prezentei Politici sunt obligatorii pentru colaboratorii permanenți și temporari ai Furnizorului precum și pentru orice alte persoane care, pot fi asimilați unui personal dedicat Furnizorului (<em>toate aceste persoane fiind denumite în acest document în mod generic „Colaboratori”</em>). </span>
          </p>
          <p>
            <span>Prezenta Politică va fi considerată ca având caracter general și se va aplica tuturor prelucrărilor efectuate de către Furnizor în calitate de operator de date cu caratcer personal. Acest document stabilește modul în care vor fi protejate datele personale pe care operatorul le deține și le prelucrează în îndeplinirea activităților sale comerciale. </span
            ><span
              >In acest sens<strong
                >, <strong><span style="font-family: 'Arial Narrow', sans-serif">Furnizorul </span></strong></strong
              >se obliga sa asigure constant un nivel corespunzător de protecţie a datelor cu caracter personal, respectând prevederile legale precum si masurile de securitate aplicabile.</span
            >
          </p>
          <p>
            <span>&shy;</span>
          </p>
          <div>
            <h3>
              <span>2.3. Sfera datelor personale prelucrate</span>
            </h3>
          </div>
          <p>
            <strong><span>Categorii de date personale privitoare la dumneavoastră ce pot fi prelucrate:</span></strong>
          </p>
          <p>
            <strong><span>Creare de cont.</span></strong
            ><span> în scopul menţionat mai sus, sunteţi rugat să completaţi câmpurile prevăzute în vederea înregistrării dvs. în calitate de utilizator pe Platformă. Datele personale utilizate vor fi:</span>
          </p>
          <ul style="list-style-type: disc; margin-left: 26px">
            <li>
              <span>Nume, prenume</span>
            </li>
            <li>
              <span>Număr de telefon</span>
            </li>
            <li>
              <span>Adresă email</span>
            </li>
            <li>
              <span>Declarație pe proprie răspundere cu privire la dobândirea calificărilor și competențelor legale de către specialiști, în vederea prestării de servicii de specialitate în domeniul kinetoterapiei și/sau masajului</span>
            </li>
            <li>
              <span>Adresă sediu social/ cabinet (dacă e cazul)</span>
            </li>
            <li>
              <span>Orice altă informație necesară în vederea accesării Platformei</span>
            </li>
          </ul>

          <p>
            <strong><span>Continut furnizat de utilizatori</span></strong
            ><span>. Functionalitățile Platformei permit publicarea de comentarii și review-uri. Dacă alegeți să publicați comentariile dumneavostra pe Platformă, vă supuneti urmatoarelor reguli de utilizare:</span>
          </p>
          <ul style="list-style-type: disc; margin-left: 56px">
            <li>
              <span>Comentariile si intrebarile vor putea fi moderate lor de către administratorii site-ului;</span>
            </li>
            <li>
              <span>în momentul publicarii, comentariul/întrebarea, va fi marcat(ă) vizibil cu numele dvs. (pe care l-ați completat la trimiterea formularului de comentarii);</span>
            </li>
            <li>
              <span>După publicarea comentariilor/întrebărilor de către moderator, acestea pot fi modificate/șterse numai dacă contactați Furnizorul;</span>
            </li>
            <li>
              <span>Când răspunsul la un comentariu/întrebare este furnizat de către un utilizator-specialist, acest lucru va fi indicat;</span>
            </li>
            <li>
              <span>Este strict interzisă publicarea mesajelor sau pozelor cu continut dăunator, amenințător, înșelător, defăimator, comic, agresiv, rasist, vulgar, denigrant, indecent, insultator, violent, obscen sau pornografic.</span>
            </li>
            <li>
              <span>încălcarea politicii privind postarea de comentarii/întrebări pe Platformă atrage după sine blocarea definitivă a respectivului utilizator de la utilizarea comentariilor, de la prima abatere;</span>
            </li>
            <li>
              <span>Dacă prin intermediul comentariilor decideți să postați informații care nu sunt provenite din experiențele proprii, indicați sursa informației.</span>
            </li>
          </ul>
          <p style="margin-left: 66pt">
            <span> </span>
          </p>
          <p>
            <strong><span>Comunicare</span></strong
            ><span>
              <strong><span style="font-family: 'Arial Narrow', sans-serif">directă:</span></strong>
              Dacă ne contactati direct prin mijloace electronice, vom obține informatii adiționale cum ar fi nume, adresa de email, telefon, conținutul comunicarii, atasamente sau alte informatii pe care alegeti să ni le furnizați.</span
            >
          </p>
          <p>
            <strong><span>Adrese de email</span></strong
            ><span>. Colectarea adresei de email pentru utilizatorii neînregistrați este folosită pentru contact ulterior pe problemele pentru care am fost solicitați sau în alte scopuri relevante.</span>
          </p>

          <div>
            <h3>
              <strong><span>2.4. în ce scop folosim informațiile dumneavoastră</span></strong>
            </h3>
          </div>
          <ul style="list-style-type: disc; margin-left: 56px">
            <li>
              <span>Datele personale furnizate de dumneavoastră se vor utiliza in scopul înregistrării și în vederea utilizării de către dvs. a Platformei;</span>
            </li>
            <li>
              <span>Pentru a realiza si mentine serviciile oferite;</span>
            </li>
            <li>
              <span>Pentru a imbunatatii, personaliza si extinde serviciile;</span>
            </li>
            <li>
              <span>Pentru a intelege si a analiza felul in care dvs folositi serviciile;</span>
            </li>
            <li>
              <span>Pentru a dezvolta produse si servicii noi;</span>
            </li>
            <li>
              <span>Pentru a comunica cu dvs privind noutatile privind serviciile sau in scopul de marketing si promovare;</span>
            </li>
            <li>
              <span>Trimiterea de mesaje si notificari de tip push;</span>
            </li>
            <li>
              <span>Pentru a asigura complianta cu termenii si conditiile sau alte drepturi legale sau in conformitate cu legile sau la cererea agentiilor guvernamentele sau a judecatorilor.</span>
            </li>
          </ul>
          <p>
            <span>în ceea ce privește comunicările legate de marketing, vă vom pune la dispoziție, dacă se impune în mod legal, informațiile respective doar după ce ați selectat această opțiune de a primi aceste comunicări și vă vom oferi posibilitatea de a vă dezabona în orice moment, în cazul în care nu doriți să mai primiți comunicări legate de marketing din partea noastră / a colaboratorilor noștri. Nu vom folosi datele dumneavoastră cu caracter personal în luarea unor decizii automate care să vă afecteze sau să creeze alte profiluri decât cele descrise mai sus.</span>
          </p>

          <div>
            <h3>
              <strong><span>2.5. la cine pot ajunge datele personale privitoare la dumneavoastră:</span></strong>
            </h3>
          </div>
          <p>
            <span>Informaţiile furnizate de dumneavoastră vor fi putea fi transferate către, fără a se limita, la:</span>
          </p>
          <ul style="list-style-type: disc; margin-left: 56px">
            <li>
              <strong><span>Colaboratori</span></strong>
            </li>
            <li>
              <strong><span>Parteneri</span></strong>
            </li>
            <li>
              <strong><span>Google Analytics</span></strong>
            </li>
            <li>
              <strong><span>Transferuri de business</span></strong>
            </li>
            <li>
              <strong><span>Conform cerintelor legale</span></strong>
            </li>
          </ul>

          <div>
            <h3>
              <strong><span>2.6. pe ce durată vă prelucrăm datele</span></strong>
            </h3>
          </div>
          <p>
            <span>Ca regulă generală privind durata prelucrărilor, păstrarea datelor cu caracter personal într-o formă care permite identificarea persoanelor vizate se va face pentru perioada necesară desfășurării serviciilor convenite, pentru perioada necesară îndeplinirii scopurilor în care sunt prelucrate datele, dar nu mai mult de 5 ani.</span>
          </p>
          <p>
            <span>în principiu, vă vom păstra Datele cu caracter personal pe durata solicitată sau permisă de legislația aplicabilă. Ulterior, la expirarea acestor perioade sau la exercitarea unuia dintre drepturile dumneavoastră, în conformitate cu legea, vom elimina/șterge Datele dumneavoastră cu caracter personal din sistemele și evidențele noastre și/sau vom lua măsuri pentru a le anonimiza, astfel încât să nu mai puteți fi identificat în baza acestora.</span>
          </p>
          <p>
            <strong><span> </span></strong>
          </p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong><span>3. PRINCIPII GENERALE</span></strong>
            </h2>
          </div>
          <p>
            <strong><span> </span></strong>
          </p>
          <div>
            <h3><span>3.1. Principii</span><span> </span></h3>
          </div>
          <p><span>Accesarea Platformei presupune</span><span> efectuarea de către Furnizor a unor prelucrări de date care se supun următoarelor principii:</span></p>
          <ul style="list-style-type: undefined; margin-left: 26px">
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie prelucrate în mod legal, echitabil și transparent;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie colectate în scopuri determinate, explicite și legitime și nu sunt prelucrate ulterior într-un mod incompatibil cu aceste scopuri; prelucrarea ulterioară în scopuri de arhivare în interes public, în scopuri de cercetare științifică sau istorică ori în scopuri statistice nu este considerată incompatibilă cu scopurile inițiale;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie să fie adecvate, relevante și limitate la ceea ce este necesar în raport cu scopurile în care sunt prelucrate;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie să fie exacte și, în cazul în care este necesar, să fie actualizate; trebuie să se ia toate măsurile necesare pentru a se asigura că datele cu caracter personal care sunt inexacte, având în vedere scopurile pentru care sunt prelucrate, sunt șterse sau rectificate fără întârziere;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie păstrate într-o formă care permite identificarea persoanelor vizate pe o perioadă care nu depășește perioada necesară îndeplinirii scopurilor în care sunt prelucrate datele; datele cu caracter personal vor fi stocate pe perioade mai lungi în măsura în care acestea vor fi prelucrate exclusiv în scopuri de arhivare în interes public, în scopuri de cercetare științifică sau istorică ori în scopuri statistice;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">datele trebuie prelucrate într-un mod care asigură securitatea adecvată, inclusiv protecția împotriva prelucrării neautorizate sau ilegale și împotriva pierderii, a distrugerii sau a deteriorării accidentale, prin luarea de măsuri tehnice sau organizatorice corespunzătoare.</span>
            </li>
          </ul>

          <p style="text-indent: -0.55pt">
            <span>Prin măsurile adoptate, Furnizorul se angajează să implementeze măsurile tehnice și organizatorice necesare asigurării gradului de confidențialitate necesar și securității prelucrării datelor cu caracter personal.</span>
          </p>
          <p style="text-indent: -0.55pt">
            <span> </span>
          </p>
          <p style="text-indent: -0.55pt">
            <span>Datele personale vor putea fi colectate, folosite, reținute, transmise și șterse, respectându-se confidențialitatea conținutului acestora<strong>,</strong> precum și celelalte reguli stabilite în prezenta Politică precum și obligațiile prevăzute în cadrul Regulamentului.</span>
          </p>
          <p style="text-indent: -0.55pt">
            <span> </span>
          </p>
          <div>
            <h3>
              <span>3.2. Securitatea prelucrării</span>
            </h3>
          </div>
          <p>
            <span>Asigurarea securității prelucrării datelor cu caracter personal implică respectarea unui nivel adecvat al confidențialității datelor și se va face cu respectarea de către Furnizor a măsurilor tehnice și organizatorice precum:</span>
          </p>
          <ul style="list-style-type: undefined; margin-left: 44px">
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">pseudonomizarea și criptarea datelor cu caracter personal;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">capacitatea de a asigura confidențialitatea, integritatea, disponbilitatea și rezistența continue ale sistemelor și serviciilor de prelucrare;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">capacitatea de a restabili disponibilitatea datelor cu caracter personal și accesul la acestea în timp util în cazul în care are loc un incident de natură fizică sau tehnică;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">implementarea unor procese pentru testarea, evaluarea și aprecierea periodică a eficacității măsurilor tehnice și organizatorice pentru a garanta securitatea prelucrării.</span>
            </li>
          </ul>

          <p>
            <span>Furnizorul va asigura că principiile de mai sus sunt respectate. De asemenea, acesta trebuie să poată dovedi respectarea principiilor și îndeplinirea obligațiilor ce decurg din acestea.</span>
          </p>
          <p>
            <span>Accesul utilizatorului la datele personale deținute va fi acordat în baza unei autorizații corespunzătoare, în funcție de grupul din care fac parte aceștia și de nivelul de securitate la care este arondat. Orice Colaborator/Parte terță autorizată/Destinatar care va avea acces la datele personale deținute de Furnizor doar ca urmare a necesitații de a utiliza informațiile respective și va avea obligația de a respecta confidențialitatea acestora și de a respecta măsurile tehnice și organizatorice astfel încât datele prelucrate să fie protejate. în acest sens, activitatea utilizatorilor Platforemi va putea fi monitorizată pentru a se verifica respectarea conformității cu legile sau normele în vigoare de protecție a datelor personale și cu Politicile de proțectie a datelor implementate. </span>
          </p>

          <p>
            <span>în cazul în care există suspiciunea încălcării prezentei Politici de confidențialitatevă rugăm să raportași de urgență incidental la adresa de <span style="background: yellow">email ______________</span>.</span>
          </p>

          <div>
            <h3>
              <span>3.3. Refuzul de prelucrare a datelor cu caracter personal</span>
            </h3>
          </div>
          <p>
            <span>Orice utilizator are dreptul de a transmite pe adresa de <span style="background: yellow">email __________</span>obiecțiuni în legătură cu colectarea, utilizarea și divulgarea datelor sale personale. Furnizorul va evalua obiecțiunile utilizatorului, va lua o decizie în conformitate cu legislația în vigoare și va comunica decizia sa utilizatorului. Există posibilitatea de a nu putea fi creat un cont de utilizator, în cazul refuzării de a se oferi datele minimale cu caracter personal necesare în vederea creării contului.</span>
          </p>

          <div>
            <h3><span>3.4. Transmiterea de informații</span><span> </span></h3>
          </div>
          <p>
            <span>Furnizorul va transmite datele legate de utilizatorii săi entităților care aparțin de aceasta doar dacă este necesar sau, dacă este posibil, în conformitate cu legea aplicabilă. Aceste entități vor adopta orice măsuri de precauție menite să asigure legalitatea comunicării și respectării „secretului profesional”. </span>
          </p>
          <p>
            <span>Transmiterea entităților afiliate Operatorului a datelor referitoare la utilizatori este permisă, cu titlu de exemplu, în următoarele cazuri: </span>
          </p>
          <ul style="list-style-type: undefined; margin-left: 26px">
            <li>
              <strong><span style="color: black">Atunci când interesele în joc sunt echilibrate</span></strong
              ><span style="font-family: 'Arial Narrow', sans-serif">: transmiterea este permisă, în scopul respectării prevederilor legate de combaterea spălării banilor, în ceea ce privește datele referitoare la „raportarea tranzacțiilor suspecte”. </span>
            </li>
            <li>
              <strong><span style="color: black">Date anonime</span></strong
              ><span> (de ex. în scopuri statistice sau în scopul analizei pieței). </span>
            </li>
          </ul>

          <p>
            <span>Transmiterea datelor referitoare atât la clienți, cât și la angajați este permisă, cu titlu de exemplu, în următoarele cazuri: </span>
          </p>
          <ul style="list-style-type: undefined; margin-left: 26px">
            <li>
              <strong><span style="color: black">Când există</span></strong
              ><span> <strong>consimțământul expres al persoanelor vizate</strong>: consimțământul trebuie să fie specific și astfel, strict legat de obiectul pentru care respectiva transmitere este efectuată (ex. marketing). Pe cale de consecință, pentru ca, Furnizorul să se asigure că acceptul a fost acordat legitim de către client, este necesară verificarea conținutului notificării de informare trimise clientului și formularul de consimțământ aferent. </span>
            </li>
            <li>
              <strong><span style="color: black">Cazurile care sunt echivalente consimțământului</span></strong
              ><span style="font-family: 'Arial Narrow', sans-serif">: (ex. încheierea unui contract, obligație legală, interes legitim al Furnizorului). </span>
            </li>
          </ul>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong><span>4. Drepturile persoanelor vizate</span></strong>
            </h2>
          </div>
          <div>
            <h3>
              <span>4.1. Drepturile utilizatorului</span>
            </h3>
          </div>
          <p>
            <span>GDPR conferă persoanelor fizice, în principal, următoarele drepturi:</span>
          </p>
          <ul class="decimal_type" style="list-style-type: undefined; margin-left: 26px">
            <li>
              <span>Dreptul de a fi informat</span>
            </li>
            <li>
              <span>Dreptul de acces</span>
            </li>
            <li>
              <span>Dreptul la rectificare</span>
            </li>
            <li>
              <span>Dreptul de ștergere</span>
            </li>
            <li>
              <span>Dreptul de a restricționa prelucrarea</span>
            </li>
            <li>
              <span>Dreptul la portabilitatea datelor</span>
            </li>
            <li>
              <span>Dreptul de a se opune</span>
            </li>
            <li>
              <span>Dreptul legate de luarea de decizii automatizate și de profilare.</span>
            </li>
          </ul>
          <div>
            <h3>
              <span>4. 2. Transferul</span>
            </h3>
          </div>
          <p>
            <span>Modalitatea prin care Furnizorul transferă date cu caracter personal, în conformitate cu Regulamentul, respectiv toate operațiunile de transfer se vor face respectându-se <strong>Procedura privind schimbul de date cu caracter personal.</strong></span>
          </p>

          <div>
            <h3><span>4.3. Reținerea și ștergerea datelor personale</span><span> </span></h3>
          </div>
          <p>
            <span>Reținerea/stocarea și ștergerea datelor cu caracter personal, în vederea asigurării confidenţialitătii datelor şi informaţiilor, precum şi pentru păstrarea în siguranţă a acestora, în cadrul activităţii curente executate de către angajaţi se va face cu respectarea dispozițiilor cuprinse în <strong>Procedura de reținere și ștergere date cu caracter personal.</strong></span>
          </p>

          <div>
            <h3>
              <span>4.4. Raportare și tratare incidente de securitate</span>
            </h3>
          </div>

          <p>
            <span>Modalitatea concretă de notificare a Autorității de Supraveghere privind Protecția Datelor cu Caracter Personal și de informare a persoanei vizate în cazul în care se produce o încălcare a securității datelor cu caracter personal, inclusiv activitățile ce trebuie desfășurate atunci când se produce un incident de securitate, respectiv, înregistrarea încălcărilor de securitate, întocmirea notificărilor și informărilor impuse de GDPR, stabilirea fluxului de parcurs în redactarea și difuzarea controlată a acestora către Autoritatea de supraveghere și persoanele vizate sunt prevăzute în <strong>Procedura de raportare și tratare incidente de Securitate.</strong></span>
          </p>
          <p>
            <strong><span> </span></strong>
          </p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong><span>5. PERSOANE ÎMPUTERNICITE DE FURNIZOR</span></strong
              ><strong><span> </span></strong>
            </h2>
          </div>

          <p>
            <span>Pot exista parteneri contractuali/colaboratori ai furnizorului și ai entităților afiliate sau alte societăți ce oferă servicii complementare produselor și serviciilor Operatorului, precum:</span>
          </p>
          <ul style="list-style-type: undefined; margin-left: 26px">
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">entități care participă la negocierea, încheierea sau la aducerea la îndeplinire a contractelor (furnizori de servicii și bunuri, operatori IT, avocați și alți consultanți etc.);</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">entități care asigură buna funcționare a produselor și serviciilor Operatorului și a tuturor tranzacțiilor legate de produsele și serviciile acestuia;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">entități care asigură securitatea și alte tipuri de protecție sistemelor informatice ale Operatorului și ale entităților afiliate care funcționează în România;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">entități care cercetează nivelul calitativ pentru satisfacerea cerințelor clienților sau care asigură sau mijlocesc oferta de produse și servicii ale Operatorului;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">societăți care imprimă, administrează și/sau transmit facturi/deconturi/notificări;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">curieri;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">furnizori de servicii de contact/call-center;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">societăți de arhivare-stocare documente;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">consultanți, contabili, auditori;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">persoane către care au fost transferate drepturile și/sau obligațiile Operatorului;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">entități care asigură colectarea creanțelor și/sau recuperarea bunurilor.</span>
            </li>
          </ul>
          <p style="margin-left: 14.2pt">
            <span> </span>
          </p>
          <p>
            <span>Datele transmise Destinatarilor vor fi adecvate, pertinente și neexcesive prin raportare la scopurile în care au fost colectate. Furnizorul poate prelucra Datele cu caracter personal inclusiv prin terțe persoane, împuternicite în acest sens de către Operator, cu care va încheia contracte scrise în condițiile Regulamentului („împuterniciții&ldquo;). </span>
          </p>

          <p>
            <span>împuterniciții sunt obligați să respecte cerințele Furnizorului pentru siguranța prelucrării și să ia măsurile tehnice și organizatorice necesare pentru asigurarea protecției Datelor cu caracter personal. </span>
          </p>

          <p>
            <span>Cu titlu exemplificativ, pot fi desemnate drept împuterniciți următoarele categorii de persoane:</span>
          </p>
          <ul style="list-style-type: undefined; margin-left: 26px">
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">societăți de arhivare-stocare documente;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">societăți care imprimă, administrează și/sau transmit facturi/deconturi/notificări;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">curieri;</span>
            </li>
            <li>
              <span style="font-family: 'Arial Narrow', sans-serif">furnizori de servicii de contact/call center.</span>
            </li>
          </ul>
          <p>
            <strong><span> </span></strong>
          </p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>DISPOZIȚII FINALE</h2>
          </div>

          <p>
            <span>Furnizorul își rezervă dreptul de a verifica conținutul oricărui mesaj trimis prin Platformă, în scopul prevenirii folosirii acesteia în alte scopuri decat cele pentru care a fost creată.</span>
          </p>
          <p>
            <span>Este interzisă folosirea Platformei în scopuri frauduloase, de dezinformare, de intimidare sau în orice alt scop decât cel de colectare de informații necesare și utile. </span>
          </p>
          <p>
            <span>Utilizatorul declară că are vârsta legală pentru a încheia şi executa prezentul acord, că a citit, a înţeles în totalitate continutul acestuia şi că este de acord cu termenii şi condiţiile de utilizare ai Platformei.</span>
          </p>
          <p>
            <span style="font-family: 'Arial Narrow', sans-serif">Utilizatorul declară că a citit și a înteles Termenii și condițiile de utilizare prezentate, precum și Politia de prelucrare a datelor personale și este de acord să respecte clauzele prezentate.</span>
          </p>
          <p>
            <span style="font-family: 'Arial Narrow', sans-serif">Pentru orice nelămuriri, în legătura cu utilizarea Platformei, servicii și modalitatea de utilizare, vă stăm la dispoziție la următoarea adresă de email: <span style="background: yellow">contact@___________</span>.</span>
          </p>
        </div>
      </div>
    </main>

    <!-- Subsol -->
    <footer class="col-12 d-flex row justify-content-center align-items-center w-100 mt-auto m-0 ms-0 p-0 py-3 bg-dark">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center text-center">
        <a href="../index.html" class="col-12 d-flex justify-content-center">
          <img id="footer-brand" src="../img/Logo-transp-wide-white.webp" alt="Kineto și Masaj" />
        </a>
        <div class="col-12 d-flex row justify-content-center align-items-center mt-4 media">
          <h4 class="social-header text-center">Descoperă-ne și pe:</h4>
          <div class="d-flex row justify-content-center">
            <a href="" class="col-2 social-link d-flex justify-content-center align-items-center">
              <img class="social-img" src="../img/facebook.webp" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>
      <a href="../templates/search.html" class="col-md-4 col-sm-12 col-xs-12 mt-3 mb-3 d-flex align-items-center justify-content-center gap-2 text-center footer-search btn btn-secondary" type="button">
        Caută terapeuți
        <i class="bi bi-arrow-right-circle"></i>
      </a>
      <div class="col-md-4 col-sm-12 col-xs-12 m-2 d-flex row justify-content-center align-items-center text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 m-0">
          <ul class="p-0">
            <li class="mt-1">
              <a href="../index.html" class="footer-links">Acasă</a>
            </li>
            <li class="mt-1">
              <a href="../templates/about-us.html" class="footer-links">Despre noi</a>
            </li>
            <li class="mt-1">
              <a href="../templates/contact.html" class="footer-links">Contactează-ne</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 p-0 m-0 mt-2 footer-utility">
          <ul class="p-0">
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="politica.html" class="footer-links">Politica de confidențialitate</a>
            </li>
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="termeni.html" class="footer-links">Termeni și condiții</a>
            </li>
            <li class="mt-2">
              <a href="https://anpc.ro/" class="footer-links">ANPC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 text-center mt-4 copyright">
        <span>
          &copy; 2023 Kineto și Masaj - Terapeuți la tine acasă!
          <br class="copyright-break-hide" />
          S.C. Home Help Search S.R.L.
        </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="../javascript.js"></script>
  </body>
</html>
