<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kineto și masaj | Terapeuți la tine acasă!</title>
        <link rel="icon" type="image/x-icon" href="../img/icon.webp">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../sass/main.css">    
    </head>
<body class="d-flex row h-100 w-100 m-0 p-0 custom-scrollbar-css overflow-auto">
    <header class="col-12 w-100 m-0 p-0">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/Logo-transp-wide-black.webp" alt="Kiento și masaj la tine acasă">
                </a>
                <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="price-table.html">Planuri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="about-us.html">Despre Noi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Înregistrare</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="inregistrare-pacient.html">Pacienți</a></li>
                                <li><a class="dropdown-item" href="inregistrare-terapeut.html">Terapeuți</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a class="nav-link auth m-0 p-0" href="autentificare.html">
                    <!-- Apare poza de profil doar dacă este logat -->
                    <!-- Pune un over text pentru selectie de intrare in dashboard Principal, Setari sau logout -->
                    <div class="auth-profile"></div>
                </a>
            </div>
        </nav>
    </header>

    <main class="col-md-8 col-xs-12 d-flex row justify-content-center align-items-center w-100 m-0 mt-4 mb-2 p-2 gap-2">
        <div class="col-sx-12 col-ms-11 col-md-3 col-lg-4 col-xl-3 m-0 ms-xl-3 ms-lg-2 p-0 container-list">
            <h2>
                Listă terapeuți <br>
                <span>Găsește terapeutul cel mai apropiat</span>
            </h2>
            <form class="" action="" method="">
                <div class="input-group search-box">
                    <input type="text" class="form-control" placeholder="Caută după locație sau terapeut...">
                    <button class="btn btn-success" id="search-button" type="button">
                        <img src="../img/search.webp" alt="Caută" id="search-icon">
                    </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center align-content-center col-xl-12 col-lg-12 col-md-8 col-sm-8 col-sm-12 col-xs-12 mt-2 mb-2 m-0 p-0 dropdown">
                    <select title="Servicii" name="Servicii" onchange="" class="" id="">
                        <option class="" aria-labelledby="dropdownServicii">Servicii</option>
                        <option class="" value="București">București</option>
                        <option class="" value="Alba">Alba</option>
                        <option class="" value="Arad">Arad</option>
                        <option class="" value="Argeș">Argeș</option>
                        <option class="" value="Bacău">Bacău</option>
                        <option class="" value="Bihor">Bihor</option>
                    </select>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center align-content-center col-xl-12 col-lg-12 col-md-8 col-sm-8 col-sm-12 col-xs-12 mt-2 mb-2 m-0 p-0 dropdown">
                    <select title="Servicii" name="Servicii" onchange="" class="" id="">
                        <option class="" aria-labelledby="dropdownServicii">Servicii</option>
                        <option class="" value="București">București</option>
                        <option class="" value="Alba">Alba</option>
                        <option class="" value="Arad">Arad</option>
                        <option class="" value="Argeș">Argeș</option>
                        <option class="" value="Bacău">Bacău</option>
                        <option class="" value="Bihor">Bihor</option>
                    </select>
                </div>
            </form>
            <div class="row overflow-auto lista">
                <div class="row terapeut-box" onclick="showTherapistInfo()">
                    <div class="terapeut-box-pic">
                        <img src="../img/profiles/PozaW.jpeg" alt="Hîrjoabă Ioan">
                    </div>
                    <div class="terapeut-box-content">
                        <div class="terapeut-box-content-name">
                            <span>Hîrjoabă Ioan</span>
                        </div>
                        <div class="terapeut-box-content-avail">
                            <!-- Arată dacă este activ (clasa "on") sau inactiv (clasa "off") -->
                            <i class="bi bi-dot"></i>
                        </div>
                        <div>
                            <span class="terapeut-box-content-locatii">
                                București, Sector 3, Sector 4, Chiajna
                            </span>
                        </div>
                        <div class="terapeut-box-content-terapii">
                            <!-- Terapiile/Specializările 2-3 după care restul sunt truncate -->
                            <span>Terapie 1, Terapie 2, Terapie 3,</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-sm-11 col-md-8 col-lg-7 col-xl-8 m-0 me-xl-3 me-lg-2 p-2 container-informatii" id="containerInformatii">
            <div>
                <button type="button" class="btn-close" aria-label="Close" name="closeData" text="X" data-bs-dismiss="container-informatii" data-bs-target="#containerInformatii"></button>
            </div>
            <div class="col-12 row informatii-section-one">
                <div class="informatii-section-one-pic">
                    <img src="../img/profiles/PozaH.jpeg" alt="{Nume Terapeut Selectat}">
                </div>
                <div class="row">
                    <div class="informatii-section-one-nume">
                        <h3 class="m-0">Hîrjoabă Ioan</h3>
                    </div>
                    <div class="informatii-section-one-avail">
                        <i class="bi bi-dot"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="informatii-section-one-locatii">
                        <h5 class="info-titles">Locații</h5>
                        <span class="">
                            București, Sector 3, Sector 4, Chiajna, Șindrilița
                        </span>
                    </div>
                    <div class="informatii-section-one-contact">
                        <h5 class="info-title">Contact</h5>
                        <!-- Acest div apare după ce se apasă butonul de contact -->
                        <div class="row">
                            <!-- Butonul dispare dupa ce este apasat si apar datele de contact -->
                            <button class="btn btn-primary contact-button" text="Contact">Contact</button>
                            <!-- Datele de contact apar dupa apasarea butonului de deasupra -->
                            <div class="row contact-info">
                                <a href="tel:075-457-9331" class="btn btn-secondary msg-button med search-telefon">0754579331</a>
                                <a href="mailto:hirjoaba_ioan@yahoo.com" class="btn btn-secondary msg-button med text-center search-email">hirjoaba_ioan@yahoo.com</a>
                                <button class="btn btn-secondary msg-button">Trimite un mesaj prin platformă</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="informatii-section-two">
                <div class="informatii-section-two-activitate">
                    <h5 class="info-titles">Activitate</h5>
                    <div class="">
                        <!-- Doar unul dintre calificative va fi afișat în funcție de recenziile acordate de pacienți: Foarte Bun | Bun | Rău | Foarte rău -->
                        <div>
                            <h6>Rating general:</h6>
                            <span>Bun</span>
                        </div>
                        <div>
                            <h6>Recenzii primite:</h6>
                            <span>40</span>
                        </div>
                        <div>
                            <h6>Experiență:</h6>
                            <span>4 ani</span>
                        </div>
                    </div>
                </div>
                <div class="informatii-section-two-descriere">
                    <h5 class="info-titles">Descriere</h5>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum beatae velit dicta ratione consequatur sapiente, earum deleniti libero, eum autem vel id aut eos fuga ullam laboriosam. Aspernatur, maiores nostrum?
                    </p>
                </div>
            </div>
            <div class="informatii-section-three">
                <div class="table-responsive informatii-section-three-servicii">
                    <h5 class="info-titles">Servicii</h5>
                    <table class="table">
                        <tr>
                            <th class="col">Terapie</th>
                            <th class="col">Durată</th>
                            <th class="col">Tarif</th>
                        </tr>
                        <tr>
                            <td>Masaj</td>
                            <td class="informatii-time">30</td>
                            <td class="informatii-price">100</td>
                        </tr>
                        <tr>
                            <td>Terapie manuală</td>
                            <td class="informatii-time">30</td>
                            <td class="informatii-price">150</td>
                        </tr>
                        <tr>
                            <td>Ventuze</td>
                            <td class="informatii-time">15</td>
                            <td class="informatii-price">50</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive informatii-section-three-recenzii">
                    <h5 class="info-titles">Recenzii</h5>
                    <div class="overflow-auto" id="search-recenzii">
                        <table class="table">
                            <tr>
                                <th class="col">Client</th>
                                <th class="col">Recenzie</th>
                            </tr>
                            <tr>
                                <td>
                                    <span>Gheorghe</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, minus, voluptate ea iure, eius temporibus soluta similique dicta debitis repellendus rem ex! Voluptatum magni unde quos quidem! Deleniti, obcaecati iusto.
                                </td>
                                <td>Bună</td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Gheorghe</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, minus, voluptate ea iure, eius temporibus soluta similique dicta debitis repellendus rem ex! Voluptatum magni unde quos quidem! Deleniti, obcaecati iusto.
                                </td>
                                <td>Bună</td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Gheorghe</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, minus, voluptate ea iure, eius temporibus soluta similique dicta debitis repellendus rem ex! Voluptatum magni unde quos quidem! Deleniti, obcaecati iusto.
                                </td>
                                <td>Bună</td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Gheorghe</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, minus, voluptate ea iure, eius temporibus soluta similique dicta debitis repellendus rem ex! Voluptatum magni unde quos quidem! Deleniti, obcaecati iusto.
                                </td>
                                <td>Bună</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="col-12 d-flex row justify-content-center align-items-center w-100 mt-auto m-0 ms-0 p-0 py-3 bg-dark">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center text-center">
            <a href="../index.html" class="col-12">
                <img id="footer-brand" src="../img/Logo-transp-wide-white.webp" alt="Kineto și Masaj">
            </a>
            <div class="col-12 d-flex row justify-content-center align-items-center mt-4 media">
                <h4 class="text-center social-header">Descoperă-ne și pe:</h4>
                <a href="" class="social-link, d-flex justify-content-center align-items-center">
                    <img class="social-img" src="../img/facebook.webp" alt="Facebook">
                </a>
            </div>
        </div>
        <a href="search.html" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12  mt-3 mb-3 text-center footer-search btn btn-secondary text-center footer-search" type="button">
            Caută terapeuți
            <img class="arrow" src="../img/arrow.webpg" alt="Despre kinetoterapeuți">
        </a>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-2 d-flex row justify-content-center align-items-center text-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 m-0">
                <ul class="p-0">
                    <li class="mt-1"><a href="../index.html" class="footer-links">Acasă</a></li>
                    <li class="mt-1"><a href="price-table.html" class="footer-links">Planuri</a></li>
                    <li class="mt-1"><a href="about-us.html" class="footer-links">Despre noi</a></li>
                    <li class="mt-1"><a href="contact.html" class="footer-links">Contactează-ne</a></li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 m-0 mt-2 footer-utility">
                <ul class="p-0">
                    <li class="mt-2 d-flex justify-content-center align-items-center"><a href="" class="footer-links">Politica de confidențialitate</a></li>
                    <li class="mt-2 d-flex justify-content-center align-items-center"><a href="" class="footer-links">Termeni și condiții</a></li>
                    <li class="mt-2"><a href="" class="footer-links">ANPC</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 text-center mt-4 copyright">
            <span>
                &copy; 2023 Kineto și Masaj - Terapeuți la tine acasă! <br class="copyright-break-hide"> S.C. Home Help Search S.R.L.
            </span>
        </div>
    </footer>
    
</body>
</html>