<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kineto și masaj | Terapeuți la tine acasă!</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.webp" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../sass/main.css" />
  </head>
  <body class="d-flex row h-100 w-100 m-0 p-0 custom-scrollbar-css overflow-auto">
    <header class="col-12 w-100 m-0 p-0">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="../index.html">
            <img src="../img/Logo-transp-wide-black.webp" alt="Kiento și masaj la tine acasă" />
          </a>
          <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="abonamente.html">Planuri</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="about-us.html">Despre Noi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Înregistrare</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="inregistrare-pacient.html">Pacienți</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="inregistrare-terapeut.html">Terapeuți</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <a tabindex="0" class="btn auth m-0 p-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content-id="popover-content" data-bs-customClass="d-flex justify-content-center align-items-center">
            <!-- Apare poza de profil doar dacă este logat -->
            <!-- Pune un over text pentru selectie de intrare in dashboard Principal, Setari sau logout -->
            <div class="auth-profile"></div>
            <div id="popover-content" class="d-none">
              <div class="popover-content-body row">
                <div class="popover-content-header">
                  <div class="auth-profile"></div>
                  <br />
                  <h3 class="popover-name">Nume Și prenume</h3>
                  <span class="popover-function">Kinetoterapeut</span>
                </div>

                <hr />
                <div class="popover-content-links">
                  <a class="nav-link" href="terapeuti/dashboard-terapeut.html">
                    <div class="popover-links-image">
                      <img src="../img/dashboard icon.webp" alt="Dashboard" />
                    </div>

                    <span>Dashboard</span>
                  </a>
                  <a class="nav-link" href="terapeuti/setari-profil.html">
                    <div class="popover-links-image">
                      <img src="../img/setari icon.webp" alt="Setări" />
                    </div>

                    <span>Setări</span>
                  </a>
                  <a class="nav-link" href="deconectare.html">
                    <div class="popover-links-image">
                      <img src="../img/logout icon.webp" alt="Ieșire" />
                    </div>

                    <span>Ieșire</span>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </nav>
    </header>

    <main class="col-12 d-flex row w-100 m-0 p-0">
      <!-- Conținutul -->
      <div class="d-flex row justify-content-center align-items-center m-0 mt-2 mb-4 p-2 w-100 h-100">
        <div class="col-12 d-flex justify-content-start align-items-center">
          <h1 class="title">Termeni și condiții de utilizare a platformei Kinetoterapie și masaj</h1>
        </div>
        <div class="d-flex row justify-content-center align-items-center m-0 t-p">
          <div>
            <p>Vă recomandăm studierea cu atenție și responsabilitate a acestui document, pentru folosirea în cele mai bune condiții a Platformei de kinetoterapie si masaj și a informațiilor oferite în cadrul acesteia.</p>
            <p>Utilizarea în continuare a Platformei și/sau a serviciilor oferite implică acceptarea termenilor și a condițiilor enunțate în cuprinsul acestui document, cu toate efectele și consecințele ce decurg din aceasta.</p>
            <p>Prin <b>utilizator</b> se înţelege orice persoană fizică și/sau juridică (inclusiv specialistul kinetoterapeut sau maseur) care accesează Platforma, indiferent de motiv, ori care utilizează, în orice mod, Serviciile oferite prin intermediul Platformei.</p>
          </div>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>1. INTRODUCERE GENERALĂ</strong>
            </h2>
          </div>
          <p>
            Prezentul înscris definește cadrul în care SC HOME HELP SEARCH SRL, în calitate de Furnizor (denumită în continuare
            <b>Furnizorul</b>) prestează servicii utilizatorilor PLATFORMEI DE KINOTETORAPIE SI MASAJ, pe site-ul <a href="http://www.kineto-masaj-acasa.ro">www.kineto-masaj-acasa.ro</a>.
          </p>
          <p>„Utilizator” – înseamnă orice persoană, Client și/sau Specialist kinetoterapeut/masseur/entitate juridică care desfășoară astfel de activități, care accesează și/sau utilizează Platforma și care aderă la acești Termeni și Condiții.</p>
          <p>Platforma este complexă și poate fi utilizată în mediul online de către utilizatori. Furnizorul este dezvoltatorul și proprietarul Platformei, inclusiv a conținuturilor și funcționalităților pe care le pot accesa utilizatorii.</p>
          <p>Pentru a putea utiliza această platformă, dvs. trebuie să cunoașteți, să acceptați și să respectați pe tot parcursul utilizării platformei condițiile prezentate în prezentul document.</p>
          <p>Vă rugăm să citiți cu atenție termenii și condiții, pentru a putea folosi Platforma în cele mai bune condiții și să țineți cont de faptul că utilizarea oricărei secțiuni a Platformei implică acceptarea tacită a termenilor și a condițiilor de utilizare prezentate mai jos, care reprezintă înțelegerea (contractul) dintre părți.</p>
          <p>În calitate de furnizor și administrator al Platformei, Furnizorul își rezervă dreptul de a schimba și a actualiza în orice moment conținutul acestuia, precum și Termenii și condițiile de utilizare, Politica de confidențialitate, Acordul privind confidențialitate a datelor personale și Politica de cookie, fără o notificare prealabilă. Astfel, dacă doriți să fiți mereu actualizat cu privire la Termenii și condițiile de utilizare, este nevoie să reveniți la lecturarea acestor termeni. Dacă nu sunteți de acord cu respectarea Termenilor și Condițiilor, trebuie să încetați folosirea platformei.</p>
          <p>Prin acceptarea termenilor și condițiilor utilizatorii se angajează să nu descarce, distribuie, copieze, transmite, stocheze, facă publice sau să transmită în orice fel conținutul specific din platformă, decât atunci când există acordul expres al Furnizorului în acest sens.</p>
          <p></p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>2. DESCRIEREA SERVICIILOR</strong>
            </h2>
          </div>
          <p>Platforma creează o punte de legătură între clienții interesați de servicii de kinetoterapie și masaj și specialiștii care oferă astfel de servicii specializate.</p>
          <p>Înregistrarea pe Platformă este gratuită pentru toți utilizatorii-clienți. Înregistrarea pe Platformă pentru utilizatorii-specialiști este gratuită doar în primele 4 luni de acces la Platformă. Ulterior se va plăti o taxă lunară de către utilizatorul-specialist, pentru menținerea activă a contului. Taxa va fi afișată pe platformă.</p>
          <p>Accesul utilizatorului la funcționalitățile din cadrul platformei este permis doar utilizatorilor care agreează termenii și condițiile de utilizare a site-ului. Vă recomandăm să nu dezvăluiți nimănui parolele de acces.</p>
          <p>
            <strong>Serviciile oferite în cadrul Platormei NU SE ADRESEAZĂ ȘI NU SE APLICĂ ÎN NICIUN CAZ ÎN SITUAȚIILE DE URGENȚĂ.</strong>
          </p>
          <p>
            <strong>Dacă aveți nevoie de ajutor medical urgent sau dacă viața dumneavoastră este pusă în pericol, nu folosiți acest serviciu, ci sunați la 112, îndreptați-vă spre cea mai apropiată unitate de primire urgențe, luați legătura cu medicul de familie sau cu liniile TELVERDE potrivite cazului dumneavoastră.</strong>
          </p>
          <p>
            Furnizorul Platformei nu este responsabil pentru serviciile, recomandările și informațiile oferite de utilizatorii-specialiști clienților obținuți de pe Platformă și nici nu are obligația de a verifica autenticitatea declarațiilor date de utilizatorii- specialiști cu privire la formarea profesională, calificări, diplome, specializări dobândite și altele asemenea.
            <strong>Furnizorul nu își asumă responsabilitatea pentru felul în care sunt utilizate informațiile publicate pe platformă de către cei care le citesc.</strong>
          </p>
          <p></p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>3. DREPTURI DE AUTOR ȘI FOLOSIRE A CONȚINUTULUI</strong>
            </h2>
          </div>
          <p>
            Drepturile de autor cu privire la conținut sunt proprietatea Furnizorului. Conținutul complet al acestui site este protejat de
            <b>copyright</b> ca operă colectivă, conform legislației aplicabile în materia drepturilor de autor și <b>copyright</b>, iar Furnizorul este singurul care deține drepturile de a selecționa, coordona, aranja, îmbunătăți, completa, modifica, sau șterge informațiile care fac parte din conținut.
          </p>
          <p>Copierea, stocarea, modificarea în întregime sau în parte a Platformei sau a conținutului este strict interzisă și se pedepsește conform legilor în vigoare privind protecția drepturilor de autor. În calitate de utilizator, dumneavoastră sunteți pe deplin de acord cu cele mai sus-menționate.</p>
          <p>Tot conținutul pe care îl vedeți/citiți/auziți/utilizați pe această platformă este protejat de legislația dreptului de autor. Toate mărcile și siglele care apar în cadrul platformei aparțin Furnizorului. Furnizorul nu pretinde proprietatea sau afilierea cu mărcile înregistrate ale unei terți în cazul în care acestea apar pe Platformă.</p>
          <p>Furnizorul nu autorizează copierea documentelor și a materialelor publicate pe Platformă sau folosirea lor în alte scopuri decât cele expres menționate. Este interzisă reproducerea, incorporarea sau transmiterea, parțială sau totală a conținutului, sub orice formă (tipărit, electronic sau in orice alt format), fără a exista un acord scris din partea Furnizorului.</p>
          <p>Furnizorul își rezervă dreptul de a modifica atât conținutul cât și funcționalitatea acestei platforme în orice fel, de a limita accesul la această platformă sau de a închide această platformă în orice moment pentru orice motiv pe care îl va considera oportun și conform cu legislația în vigoare, fără notificare prealabilă și nu va fi răspunzător sub nicio formă de posibilele consecințe ale unor asemenea schimbări. Prin folosirea Platformei sunteți pe deplin de acord cu acest aspect.</p>
          <p></p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>4.DECLARAȚIILE ȘI GARANȚIILE utilizatorilor-specialiști ȘI DISCLAIMER</strong>
            </h2>
          </div>
          <p>Utilizatorul-specialist declară pe propria răspundere că îndeplinește toate condițiile legale pentru prestarea serviciilor profesionale, inclusiv, dar fără a se limita la, deținerea tuturor autorizațiilor, certificatelor de competență, permiselor și avizelor cerute de lege.</p>
          <p>Utilizatorul-specialist este singurul răspunzător față de Client și față de Furnizor pentru corectitudinea, integralitatea și realitatea informațiilor furnizate în vederea includerii lor în Platformă și pentru orice alte informații furnizate în executarea prezentului Contract.</p>
          <p>Utilizatorul-specialist este singurul răspunzător pentru prestarea serviciilor comandate de Clienți și pentru conformitatea acestora, precum și pentru rezolvarea oricăror reclamații sau probleme sesizate de Clienți în ceea ce privește prestarea joburilor. Disputele eventuale apărute în prestarea serviciilor privesc exclusiv relația contractuală dintre Specialist și Client și vor fi rezolvate cu bună-credința de către aceștia, fără implicarea Furnizorului, care nu este parte în raportul juridic dintre Specialist și Client.</p>
          <p>Utilizatorul-specialist declară și garantează că are cunoștință și înțelege că are obligația legală de a achita impozitele/taxele/contribuțiile aferente veniturilor obținute din prestarea serviciilor către Clienți, conform legislației aplicabile.</p>
          <p>Utilizatorul-specialist se obligă să declare la autoritățile competente toate veniturile obținute din prestarea Job-urilor către Clienți și să achite, în temenele prevăzute de lege, impozitele, taxele și contribuțiile aferente acestora, fiind pe deplin și exclusiv răspunzător pentru orice prejudiciu adus Furnizorului și/sau oricăror altor Utilizatori ai Platformei și/sau unor terți în legătură cu încălcarea obligației de mai sus.</p>
          <p>Utilizatorul-client se obligă să achite tarifele pentru serviciile care i-au fost prestate, în termenul și condițiile stabilite și agreate de comun acord cu Utilizatorul-specialist. Neplata sau plata parțială a serviciilor de către utilizatorul-client nu îi este imputabilă Furnizorului Platformei.</p>
          <p>Furnizorul nu va fi responsabil pentru nicio pagubă directă sau indirectă, rezultată din culpă sau cu intenție, inclusiv, dar fără a se limita la greșeli de diagnostic, tratament, recuperare medicală, de medicație, pagube materiale, pagube morale, pierderi materiale sau alte forme de pagube care ar putea rezulta din serviciile prestate de specialist clientului.</p>
          <p>Utilizarea Platformei și a informațiilor disponibile în cadrul acesteia se face cu discernământ, pe propria răspundere. În nicio împrejurare Furnizorul sau oricare reprezentant sau colaborator nu poate fi făcut responsabil de pierderea sau dauna directă sau indirectă provocată de accesul la platformă sau legată de acces, de utilizarea sau lipsa aptitudinii de utilizare a acestei platforme, de validitatea informațiilor postate sau de încrederea dumneavoastră față de informațiile furnizate pe această platformă. Această limitare se aplică la pierderi și la daune de orice fel, fie ele directe sau indirecte, generale, speciale, accidentale, consecutive, exemplare sau altele, inclusiv pierderea de date.</p>
          <p>Furnizorul nu oferă garanții asupra acurateței, validității și corectitudinii informațiilor, texte sau grafice, link-urilor sau altor elemente conținute in acestea. Informațiile, acreditările specialiștilor și eventualele servicii, recomandări și păreri oferite de aceștia clienților nu sunt însoțite de garanții de niciun fel din partea Furnizorului, nici explicite, nici implicite, inclusiv, dar fără limitare la, lipsa garanțiilor referitoare la conținutul medical sau adecvării la un scop specific.</p>
          <p>Modul în care utilizatorul-client înțelege să folosească informațiile obținute în cadrul Platformei sunt 100% responsabilitatea utilizatorului-client, acesta renunțând în mod expres la orice pretenții împotriva Platformei, și implicit împotriva Furnizorului.</p>
          <p>Furnizorul nu își asumă răspunderea în caz de erori, omisiuni, eliminări, întârzieri, defecțiuni (incluzând, fără limitare, acțiunile virușilor) ale liniilor de comunicare, ale componentelor hardware şi software independente de controlul nostru sau în cazul utilizării neautorizate sau a posibilelor degradări ale conținutului publicat pe Platformă.</p>

          <p>
            <strong>DISCLAIMER: RĂSPUNDEREA PRIVIND SERVICIILE OFERITE DE UTILIZATORII-SPECIALIȘTI</strong>
          </p>
          <p>Utilizatorul-specialist este singurul răspunzător față de Client cu privire la conformitatea și garanția serviciilor prestate. Utilizatorul-specialist va răspunde personal pentru rezolvarea oricăror reclamații sau probleme sesizate de Clienți numai în ceea ce privește prestarea efectivă a serviciilor.</p>
          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>5. RECLAME ȘI LINK-URI HYPERTEXT</strong>
            </h2>
          </div>
          <p>În cadrul Platformei pot fi afișate reclame Google, putând fi postate următoarele tipuri de reclame:</p>
          <ul>
            <li>Bannere cu linkuri</li>
            <li>Reclame Google și linkuri</li>
            <li>Articole sponsorizate</li>
          </ul>
          <p>Articolele sponsorizate vor fi marcate clar cu sigla sponsorului și textul “Sponsorizat de...”</p>
          <p>Unele dintre link-urile hypertext incluse în platforma vă pot conduce pe site-uri ale terților, indiferent de scopul acestora, ale căror conținuturi nu le putem controla. Furnizorul își declină răspunderea în raport de conținutul și/sau comportamentul acestor site-uri ale terților. Prin urmare, nu garantăm fiabilitatea sau exactitatea informațiilor şi/sau a conținuturilor publicate pe aceste site-uri ale terților. Aceste site-uri ale terților pot avea practici diferite de procesare a datelor cu caracter personal decât Platforma.</p>
          <p>Furnizorul îşi declină în mod special, fără a se limita la, orice răspundere dacă aceste site-uri ale terților:</p>
          <ul style="list-style-type: square">
            <li>încalcă drepturile de proprietate intelectuală ale unei terţe părţi;</li>
            <li>sunt inexacte, incomplete sau conţin informaţii înşelătoare;</li>
            <li>nu au caracter comercial sau nu răspund îndeplinirii unui anumit scop;</li>
            <li>nu oferă o securitate adecvată;</li>
            <li>conţin viruşi sau alte elemente cu caracter distructiv; sau</li>
            <li>sunt licenţioase sau calomnioase.</li>
          </ul>
          <p>În consecință şi în măsura în care aceste legături hypertext au fost incluse pe această platformă pentru a vă facilita navigarea pe Internet, consultarea site-urilor terților este alegerea şi răspunderea dvs. exclusivă.</p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>6. OBLIGAȚIILE UTILIZATORULUI DUPĂ ÎNREGISTRAREA ÎN PLATFORMA</strong>
            </h2>
          </div>
          <p>
            Crearea unui cont de utilizator, prin bifarea căsuței
            <img width="16" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAMAAADWg4HyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABOUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMSiplkAAAAZdFJOUwABAgMgTVpdaHOEirC3yNnf6On1+vv8/f7/FkR/AAAACXBIWXMAACHVAAAh1QEEnLSdAAAA9klEQVRIS+WSyWKDMAwFSZpuSfcF0P//aLVMbCeVnUNvzRxAehrAGKbrZhGKy3yLyJb6AquqIivdEDcNbzYjEA1z7YIeaME8dJGCZXhfpODWgsgTkIJI/JiA5LBlPRfLuT9mnE9pN6saqbvFcsiUzN1hGY9kRrg3D4t8eaXs0QyiQN7j71BIXmmV9cytbxyB/YNwOFuh1HeerW9Un7ZotzCzQalj/3+5ZRW1Enkq04p1x+2cOSsxTNzmyeAjJXFPvr7Is2dG5ubfP3fbVUQQpG5ZxQt9kLvIGzrouJ+mUhc6rt74jarSczP+4I7BgruPEUj/nGn6AWlQLC7TDK/PAAAAAElFTkSuQmCC" alt="image" /><b>Am luat la cunoștință de Termenii și condițiile de utilizare a Platformei</b>reprezintă o acceptare din partea utilizatorului a condițiilor specificate de Furnizor în condițiile stipulate de art. 9 din Legea comerțului electronic 365/2002.
          </p>
          <p>Bifarea căsuței reprezintă o semnătură electronică, în sensul art. 4 pct. 3 din Legea semnăturii electronice nr. 455/2001, având aceeași valoare cu o semnătură olografă (de mână).</p>
          <p>Orice cont de utilizator creat în Platformă poate avea un singur titular. Serviciile și produsele oferite în platformă care sunt accesibile prin intermediul unui cont de utilizator se adresează și pot fi utilizate strict de către titularul contului. Acordarea accesului altor persoane la platformă prin intermediul contului personal al cărui titular sunteți dvs. este considerată fraudă și se pedepsește conform legislației în vigoare. Ca utilizator sunteți în întregime răspunzător de păstrarea confidențialității asupra datelor de acces (email și parolă) spre contul dvs.</p>
          <p>Orice acces neautorizat la elementele nepublice ale Platformei, sau accesul altor persoane în afara celor autorizate la un cont găzduit de noi, reprezintă infracțiunea de acces fără drept la un sistem informatic și va fi sancționată conform legislației române în vigoare.</p>
          <p>
            De asemenea, aveți obligația să sesizați Furnizorul la adresa de email
            <span style="background: yellow">contact@__________</span> în legătură cu orice utilizare neautorizată a contului dvs. Pentru a preveni accesul neautorizat la contul dvs., folosiți la finalul fiecărei utilizări a platformei butonul de ieșire din contul dvs. (opțiunea „deconectare” sau „log-out” din meniu). Furnizorul nu poate fi făcut răspunzător pentru nicio pagubă morală sau materială provocată din cauza nerespectării acestei prevederi de către dvs.
          </p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>7. RĂSPUNDEREA UTILIZATORULUI</strong>
            </h2>
          </div>
          <p>Furnizorul depune toate eforturile pentru a oferi fiecărui tip de utilizator instrucțiunile necesare pentru utilizarea corespunzătoare a informațiilor și instrumentelor platformei. Ca utilizator al Platformei sunteți în întregime responsabil de propriile acțiuni precum și de consecințele pe care acestea le pot avea.</p>
          <p>
            Dacă întâmpinați orice dificultate în urmarea acestor instrucțiuni sau sesizați o lipsă de informații, sesizați Furnizorului acest lucru (<span style="background: yellow">contact@___________)</span>
            și așteptați instrucțiuni înainte de a vă continua activitatea, pentru a preveni erorile de utilizare. Furnizorul nu poate fi făcut răspunzător de nicio acțiune necorespunzătoare întreprinsă de un utilizator în cadrul platformei.
          </p>
          <p>Prin acceptarea acestor termeni și condiții luați la cunoștință și sunteți de acord că Furnizorul poate dezactiva sau șterge contul dvs. dacă va constata că nu respectați condițiile de utilizare stabilite, fără preaviz. De asemenea, dacă utilizarea dvs. necorespunzătoare produce daune oricărei componente a platformei sau utilizatorilor săi, Furnizorul poate să vă solicite achitarea daunelor corespunzătoare.</p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>8.LITIGII </strong>
            </h2>
          </div>
          <p>Legea care guvernează raporturile juridice între părți prin acceptarea termenilor și condițiilor prezentate în acest document și în părțile sale integrante este legea română.</p>
          <p>Ambele părți vor depune eforturi în vederea soluționării pe cale amiabilă și în spiritul prevederilor contractuale, a litigiilor de orice natură izvorâte din executarea prezentului document.</p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>9.Feed-Back</strong>
            </h2>
          </div>
          <p>
            În vederea îmbunătățirii continue a serviciilor oferite în cadrul Platformei și pentru că părerea dvs. este importantă pentru noi, vă invităm să ne comunicați comentariile, recomandările și sugestiile dumneavoastră la adresa de e-mail la adresa
            <span style="background: yellow">contact@_______.</span>
          </p>

          <div class="m-0 mt-5 mb-2 p-0 t-p-header">
            <h2>
              <strong>10.ÎNCETAREA ACORDULUI</strong>
            </h2>
          </div>
          <p>10.1 Prezentul acord încetează în orice moment, prin renunțarea la utilizarea Platformei.</p>
          <p>10.2 Furnizorul poate înceta oricând acest acord, fără vreo notificare prealabilă și să refuze accesul utilizatorului la Platformă, din orice motiv considerat întemeiat.</p>
        </div>
      </div>
    </main>

    <!-- Subsol -->
    <footer class="col-12 d-flex row justify-content-center align-items-center w-100 mt-auto m-0 ms-0 p-0 py-3 bg-dark">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center text-center">
        <a href="../index.html" class="col-12 d-flex justify-content-center">
          <img id="footer-brand" src="../img/Logo-transp-wide-white.webp" alt="Kineto și Masaj" />
        </a>
        <div class="col-12 d-flex row justify-content-center align-items-center mt-4 media">
          <h4 class="social-header text-center">Descoperă-ne și pe:</h4>
          <div class="d-flex row justify-content-center">
            <a href="" class="col-2 social-link, d-flex justify-content-center align-items-center">
              <img class="social-img" src="../img/facebook.webp" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>
      <a href="../templates/search.html" class="col-md-4 col-sm-12 col-xs-12 mt-3 mb-3 d-flex align-items-center justify-content-center gap-2 text-center footer-search btn btn-secondary" type="button">
        Caută terapeuți
        <i class="bi bi-arrow-right-circle"></i>
      </a>
      <div class="col-md-4 col-sm-12 col-xs-12 m-2 d-flex row justify-content-center align-items-center text-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 m-0">
          <ul class="p-0">
            <li class="mt-1">
              <a href="../index.html" class="footer-links">Acasă</a>
            </li>
            <li class="mt-1">
              <a href="../templates/about-us.html" class="footer-links">Despre noi</a>
            </li>
            <li class="mt-1">
              <a href="../templates/contact.html" class="footer-links">Contactează-ne</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 p-0 m-0 mt-2 footer-utility">
          <ul class="p-0">
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="politica.html" class="footer-links">Politica de confidențialitate</a>
            </li>
            <li class="mt-2 d-flex justify-content-center align-items-center">
              <a href="#" class="footer-links">Termeni și condiții</a>
            </li>
            <li class="mt-2">
              <a href="https://anpc.ro/" class="footer-links">ANPC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 text-center mt-4 copyright">
        <span>
          &copy; 2023 Kineto și Masaj - Terapeuți la tine acasă!
          <br class="copyright-break-hide" />
          S.C. Home Help Search S.R.L.
        </span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="../javascript.js"></script>
  </body>
</html>
