<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favico.png">
    <meta name="google-site-verification" content="ktNbRz1YoRWyVtg6cH9685JX_ak9EPPB104hZ7V-SWM">
    <meta name="keywords" content="kinetoterapeut, kinetoterapeuti, fizioterapeut, fizioterapeuti, maseur, maseuri, tehnician maseur, terapii alternative, recuperare medicala, domicilii, domiciliu, masaj, masaje, kinetoterapie, fizioterapie, recuperare, pediatrie, recuperare copii, recuperare pediatrica, recuperare ortopedica, recuperare traumatica, recuperare sportiva, masaj, masaj la domiciliu, kinetoterapie la domiciliu, masaj acasa, masaj de relaxare, masaj anticelulitic, masaj limfatic, masaj de drenaj, masaj terapeutic, relaxare">
    <meta name="description" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="facebook:card" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="facebook:site" content="fiziosearch.ro">
    <meta name="instagram:card" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="instagram:site" content="fiziosearch.ro">

    <meta property="og:description" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta property="og:locale" content="ro_Ro">
    <meta property="og:site_name" content="Fiziosearch">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fiziosearch - Caută terapeuți în apropiere!">
    <meta property="og:image", content="https://www.fiziosearch.ro/static/images/facebookImage.png">
    <meta property="og:url" content="https://www.fiziosearch.ro">

    <link rel="canonical" href="https://www.fiziosearch.ro">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/detalii.css">
    <!-- <link rel="stylesheet" href="../static/css/searchlist.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <link rel="stylesheet" href="../static/css/navbar.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLX5WQPVRB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BLX5WQPVRB');
        
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-224309463-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-224309463-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5X63TLN');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '697440068183150'); fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=697440068183150&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body class="custom-scrollbar-css">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X63TLN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="bg-change" class="content-base">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-d scroll" id="nav">
            <div class="container-fluid order-0 container">
                <a class="navbar-brand ms-2 md-auto" href="../index.html" hreflang="ro" rel="prev">
                    <img src="../static/images/FizioSearch.png" alt="Brand" width="0" height="0" class="d-inline-block align-text-top" id="brand">
                </a>
                <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="d-flex order-mr-0" id="navbarNav">
                    <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                           <a class="nav-link active d-flex  m-0" aria-current="page" href="https://forms.gle/UNjZbLrCKkrqQ1Ub6" hreflang="ro" rel="external" target="_blank">
                                <i class="bi bi-person-plus"></i>
                                <span class="n-sm-hide">&nbsp; &nbsp;Înregistrare</span>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex m-0" aria-current="page" href="contact.html" hreflang="ro" rel="next">
                                <i class="bi bi-chat-right-dots"></i>
                                <span class="n-sm-hide m-0 p-0">&nbsp; &nbsp;Contact</span>
                             </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex align-items-center justify-content-center row m-0">
            <div class="d-flex row w-100 m-0 p-0">
                <div class="col-12 p-lg-5 p-md-3 p-sm-0 p-xs-0 mt-5" id="up">
                    <div class="p-lg-5 p-md-3 p-sm-0 p-xs-0 m-0 mt-5 d-flex row justify-content-center align-items-center">
                        <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <h1 class="display-6 fw-bold">Găsește un terapeut care să vină la tine!</h1>
                            </div>
                            <div class="col-12 mt-5 d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <svg width="48" height="48" viewBox="0 0 17 22" version="1.1" xmlns="http://www.w3.org/2000/svg" data-testid="pin-icon-container">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                            <g data-testid="pin-icon" transform="translate(2.000000, 2.000000)" stroke="#3C3C3C" stroke-width="1.4">
                                                <path d="M13.3953632,6.69765789 C13.3953632,11.3023421 6.69765789,18 6.69765789,18 C6.69765789,18 0,11.3023421 0,6.69765789 C0,2.45932105 3.46102105,0 6.69765789,0 C9.93434211,0 13.3953632,2.45932105 13.3953632,6.69765789 Z"></path>
                                                <path d="M6.69770526,8.79072632 C7.85363684,8.79072632 8.79072632,7.85363684 8.79072632,6.69770526 C8.79072632,5.54172632 7.85363684,4.60463684 6.69770526,4.60463684 C5.54172632,4.60463684 4.60463684,5.54172632 4.60463684,6.69770526 C4.60463684,7.85363684 5.54172632,8.79072632 6.69770526,8.79072632 Z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="ms-3">
                                    <span class="det-txt">
                                        Introdu adresa, iar noi vom afișa lista cu cei mai apropiați terapeuți!
                                    </span>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-12 mt-5 d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <svg width="48" height="48" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" data-testid="catalogue-icon-container">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                <g data-testid="catalogue-icon" transform="translate(1.000000, 1.000000)" stroke="#3C3C3C" stroke-width="1.4">
                                                    <rect x="0" y="8.8817842e-16" width="9.8182" height="12.27275"></rect>
                                                    <polyline points="13.09175 4.59735 17.6711 5.83525 14.46875 17.68335 4.9901 15.1208"></polyline>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="ms-3">
                                    <span class="det-txt">
                                        Alege terapeutul cel mai potrivit pentru tine verificându-le profilurile.
                                    </span>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-12 mt-5 d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <i class="bi bi-telephone-forward" style="font-size: 48px;"></i>
                                </div>
                                <div class="ms-3">
                                    <span class="det-txt">
                                        Contactează terapeutul ales și planificați împreună prima ședință!
                                    </span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 d-flex row justify-content-center align-items-center p-5">
                            <a href="templates/searchlist.html" class="but btn btn-primary w-auto m-0 p-3 link link--arrowed" type="button" hreflang="ro" rel="next">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="d-flex justify-content-center align-items-center display-5 h-2 linka">Vezi lista completă</span>
                                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                        <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                                            <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                            <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>