<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/insert.js"></script>
</head>
<body>
    <div class="d-flex row justify-content-center align-items-center">
        <div class="col-6 p-5">
            <br>
            <label for="name">Nume: </label><br>
            <input type="text" id="name" name="name"><br>

            <label for="prename">Prenume: </label><br>
            <input type="text" id="prename" name="prename"><br>

            <label for="phoneNumber">Telefon: </label><br>
            <input type="text" id="phoneNumber" name="phoneNumber"><br>

            <label for="email">Email: </label><br>
            <input type="text" id="email" name="email"><br>
            
            <label for="address">Locație: </label><br>
            <textarea name="address" id="address" cols="30" rows="10"></textarea><br>

            <label for="profession">Profesie: </label><br>
            <input type="text" id="profession" name="profession"><br>
            
            <label for="specialization">Specializare: </label><br>
            <input type="text" id="specialization" name="specialization" placeholder="Fizioterapeut"><br>
    
            <label for="exp">Experiență: </label><br>
            <input type="text" id="exp" name="exp"><br>
    
            <label for="courses">Cursuri: </label><br>
            <textarea name="courses" id="courses" cols="30" rows="10"></textarea><br>
    
            <label for="about">Despre: </label><br>
            <textarea name="about" id="about" cols="30" rows="10"></textarea><br>

            <button type="submit" onclick="copyToClipboard()">Submit</button>
        </div> 

        <div class="col-6" id="show">

        </div>
    </div>

</body>
</html>