<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favico.png">
    <meta name="google-site-verification" content="ktNbRz1YoRWyVtg6cH9685JX_ak9EPPB104hZ7V-SWM">
    <meta name="keywords" content="kinetoterapeut, kinetoterapeuti, fizioterapeut, fizioterapeuti, maseur, maseuri, tehnician maseur, terapii alternative, recuperare medicala, domicilii, domiciliu, masaj, masaje, kinetoterapie, fizioterapie, recuperare, pediatrie, recuperare copii, recuperare pediatrica, recuperare ortopedica, recuperare traumatica, recuperare sportiva, masaj, masaj la domiciliu, kinetoterapie la domiciliu, masaj acasa, masaj de relaxare, masaj anticelulitic, masaj limfatic, masaj de drenaj, masaj terapeutic, relaxare">
    <meta name="description" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="facebook:card" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="facebook:site" content="fiziosearch.ro">
    <meta name="instagram:card" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta name="instagram:site" content="fiziosearch.ro">

    <meta property="og:description" content="Găsește un kinetoterapeut sau un maseur care să vină la tine acasă!">
    <meta property="og:locale" content="ro_Ro">
    <meta property="og:site_name" content="Fiziosearch">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fiziosearch - Caută terapeuți în apropiere!">
    <meta property="og:image", content="https://www.fiziosearch.ro/static/images/facebookImage.png">
    <meta property="og:url" content="https://www.fiziosearch.ro">

    <link rel="canonical" href="https://www.fiziosearch.ro">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/searchlist.css">
    <link rel="stylesheet" href="../static/css/navbar.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLX5WQPVRB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BLX5WQPVRB');
        
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-224309463-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-224309463-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5X63TLN');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '697440068183150'); fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=697440068183150&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Hotjar Tracking Code for https://www.fiziosearch.ro -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3009609,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>
<body class="custom-scrollbar-css">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X63TLN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="bg-change" class="content-base">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-d scroll" id="nav">
            <div class="container-fluid order-0 container">
                <a class="navbar-brand ms-2 md-auto" href="../index.html" hreflang="ro" rel="prev">
                    <img src="../static/images/FizioSearch.png" alt="Brand" width="0" height="0" class="d-inline-block align-text-top" id="brand">
                </a>
                <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="d-flex order-mr-0" id="navbarNav">
                    <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                           <a class="nav-link active d-flex  m-0" aria-current="page" href="https://forms.gle/UNjZbLrCKkrqQ1Ub6" hreflang="ro" rel="external" target="_blank">
                                <i class="bi bi-person-plus"></i>
                                <span class="n-sm-hide">&nbsp; &nbsp;Înregistrare</span>
                            </a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex m-0" aria-current="page" href="contact.html" hreflang="ro" rel="next">
                                <i class="bi bi-chat-right-dots"></i>
                                <span class="n-sm-hide m-0 p-0">&nbsp; &nbsp;Contact</span>
                             </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex align-items-center justify-content-center row m-0">
            <div class="d-flex row w-100 m-0 p-0">
                <div class="col-12 p-0" id="up">
                    <div id="banner" class="row justify-content-center align-items-center m-0 p-0">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfIAwadjnQzmoqIsUuGRNKEDdqrej_mznSVlruF9v6YIJ2JHQ/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="10" marginwidth="10">Se încarcă…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>