<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLX5WQPVRB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BLX5WQPVRB');
        
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Găsește un kinetoterapeut la domciliu!">
    <title>Fizioterapeuți</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/searchlist.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/therapist-data.js"></script>


</head>
<body class="custom-scrollbar-css" onload="searchTherapists()">
    <div id="bg-change" class="content-base">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-d scroll" id="nav">
            <div class="container-fluid order-0 container">
                <a class="navbar-brand ms-5 md-auto" href="../index.html">
                    <img src="../static/images/FizioSearch.png" alt="Brand" width="0" height="0" class="d-inline-block align-text-top" id="brand">
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100 order-mr-0" id="navbarNav">
                    <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Acasă</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex align-items-center justify-content-center row m-0">
            <div class="d-flex row w-100 m-0 p-0">
                <div class="col-12 p-0" id="up">
                    <div id="banner" class="row justify-content-center align-items-center m-0 p-0">
                    </div>                    
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex row justify-content-center align-items-center m-0" id="hide-data">
                            <div class="col-lg-4 col-sm-0" id="hide-call">
                                <div class="ts-title d-flex justify-content-start align-items-center p-2">
                                    <span class="h2">Listă terapeuți</span>
                                </div>
                                <div class="ts-list-container">
                                    <div class="search-container m-4">
                                        <div class="d-flex justify-content-center align-items-center search" onclick="searchTherapists()" >
                                            <input id="therapist-name" type="text" placeholder="Introduceți numele">
                                            <i class="bi bi-arrow-right-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="ts-scroll ts-list">
                                        <div class="ts-container ts-container-background">
                                            <div class="d-flex row p-2 ts-info-container">
                                                <div class="col-4 ts-pic">
                                                    <img src="../static/images/call-ico.png" class="ts-pic" alt="profile pic">
                                                </div>
                                                <div class="col-1"></div>
                                                <div class="col-7 align-items-end ts-details">
                                                    <span>Hîrjoabă Ioan</span> <br/>
                                                    <span>4/5 (189)</span>
                                                </div>  
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12 p-5 s-h m-h b-h d-flex jusify-content-start align-items-center small-hide" id="cont">
                                <div class="d-flex jusify-content-start align-items-center" style="width: 500px;" id="startPage">
                                    <span id="txtCheck">Alege un terapeut din listă</span>
                                </div>
                            </div>
                        </div>
                        <div class="container row justify-content-center align-items-center hide" id="show-data" >
                            <!-- <iframe onclick="showPhone()" id="showphone" src="https://docs.google.com/forms/d/e/1FAIpQLScLnAfu_LybHV_StIlE_C1MqSnE6Y2Er9V7wrf2LH1X-J7FAQ/viewform?embedded=true" width="640" height="1447" frameborder="0" marginheight="0" marginwidth="0">Se încarcă…</iframe> -->
                            <iframe onclick="showPhone()" id="showphone" src="file:///C:/Users/hirjo/OneDrive/Files/Firma/Git/fiziosearch.github.io/templates/test.html" width="640" height="1447" frameborder="0" marginheight="0" marginwidth="0">Se încarcă…</iframe>
                        </div>                    
                </div>
            </div>            
        </div>
        </div>
    </div>



    <script src="../static/js/index.js"></script>



</body>
</html>
